<p id="notice"><%= notice %></p>

<h1>Bads</h1>

<table>
  <thead>
    <tr>
      <th>Tweet</th>
      <th>User</th>
      <th>Create datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bads.each do |bad| %>
      <tr>
        <td><%= bad.tweet_id %></td>
        <td><%= bad.user_id %></td>
        <td><%= bad.create_datetime %></td>
        <td><%= link_to 'Show', bad %></td>
        <td><%= link_to 'Edit', edit_bad_path(bad) %></td>
        <td><%= link_to 'Destroy', bad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bad', new_bad_path %>
