<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @bad.tweet_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @bad.user_id %>
</p>

<p>
  <strong>Create datetime:</strong>
  <%= @bad.create_datetime %>
</p>

<%= link_to 'Edit', edit_bad_path(@bad) %> |
<%= link_to 'Back', bads_path %>
