<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { class: "form-horizontal", role: "form", method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <div class="col-sm-2 control-label"><%= f.label :email %></div>
    <div class="col-sm-10"><%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %></div>
  </div>

  <div class="actions">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10"><%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %></div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
