<%= render partial: "/layouts/tiramon_nav" %>

<div class="tweet-container">

  <div class="hukidasi w-100 m-2">

    <div class="tweet-container list">
      <% @result[:log].map do |log| %>
        <% if log[0] == 1 %>
          <div class="tweet">
            <div class="hukidasi">
              <div class="content">
                <%= log[1] %>
              </div>
            </div>
          </div>
        <% end %>
        <% if log[0] == -1 %>
          <div class="tweet-reverse">
            <div class="hukidasi">
              <div class="content">
                <%= log[1] %>
              </div>
            </div>
          </div>
        <% end %>

        <% if log[0] == 0 %>
          <h3 class="text-center">
            <%= log[1] %>
          </h3>
        <% end %>

        <% if log[0] == 2 %>
          <div class="hukidasi w-100 d-flex justify-content-around">
            <% log[1].map do |tiramon| %>
              <% mhp = [100, 0].max %>
              <% mmp = [100, 0].max %>
              <% msp = [100, 0].max %>
              <% hp = [tiramon[:hp] / tiramon[:max_hp] * 100, 0].max %>
              <% mp = [tiramon[:mp] / tiramon[:max_mp] * 100, 0].max %>
              <% sp = [tiramon[:sp] / tiramon[:max_sp] * 100, 0].max %>
              <% thp = [tiramon[:temp_hp] / tiramon[:max_hp] * 100, 0].max %>
              <% tmp = [tiramon[:temp_mp] / tiramon[:max_mp] * 100, 0].max %>
              <% tsp = [tiramon[:temp_sp] / tiramon[:max_sp] * 100, 0].max %>

              <div class="hukidasi w-100 m-2">
                <div>
                  <div class="text-center m-2"><%= tiramon[:name] %></div>
                  <div class="row">
                    <div class="col-lg-3 text-center">スタミナ</div>
                    <div class="col">
                      <div class="progress m-2">
                        <div class="progress-bar" style="width:<%= tsp %>%"><%= tsp.to_i %>%</div>
                        <div class="progress-bar bg-danger" style="width:<%= sp - tsp %>%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 text-center">体力</div>
                    <div class="col">
                      <div class="progress m-2">
                        <div class="progress-bar" style="width:<%= thp %>%"><%= thp.to_i %>%</div>
                        <div class="progress-bar bg-danger" style="width:<%= hp - thp %>%"></div>
                      </div>
                    </div>
                  </div>

                  <% if user_signed_in? and current_user.id == 1 %>
                    <div class="row">
                      <div class="col-lg-3 text-center">精神力</div>
                      <div class="col">
                        <div class="progress m-2">
                          <div class="progress-bar" style="width:<%= tmp %>%"><%= tmp.to_i %>%</div>
                          <div class="progress-bar bg-danger" style="width:<%= mp - tmp %>%"></div>
                        </div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if log[0] == 5 %>
          <% tweet_class = log[1][0] == 1 ? "tweet" : "tweet-reverse" %>
          <div class="<%= tweet_class %>">
            <% tiramon = log[1][1] %>

            <div class="hukidasi w-100 m-2">
              <div class="content">
                <div class="tiramon-icon-img">
                  <%= image_tag "/images/tiramon/tiramon_back.png", class: "tiramon-icon-back c-#{Tiramon.get_message(Constants::TIRAMON_STATUS_RANK, Tiramon.leap(0, 1, (tiramon[:quality])))[0]}" %>
                  <%= image_tag "/images/tiramon/icons/tiramon (#{tiramon[:icon]}).png", class: "image_x92 #{tiramon[:icon] == 0 ? "not-zoom" : "zoom"}" %>
                </div>
                <div class="content-content">
                  <div><%= tiramon[:name] %></div>
                  <div class="m-1"></div>
                  <div><%= tiramon[:level].to_i %> Lv</div>
                  <div><%= (tiramon[:height]*100).to_i %> cm</div>
                  <div><%= tiramon[:weight].to_i %> kg</div>
                  <div class="m-1"></div>
                  <% good_attack = tiramon[:attack].index(tiramon[:attack].max) %>
                  <% good_defense = tiramon[:defense].index(tiramon[:defense].max) %>
                  <div>[<%= Constants::TIRAMON_ELEMENTS[good_attack] %>]属性の攻撃が得意</div>
                  <div>[<%= Constants::TIRAMON_ELEMENTS[good_defense] %>]属性の防御が得意</div>
                </div>
              </div>
            </div>

          </div>
        <% end %>

        <% if log[0] == 3 %>
          <div class="w-100 text-center">
            <div class="content-image">
              <%= image_tag log[1], class: "w-50" %>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>

  </div>

</div>

<%= render partial: "/layouts/tiramon_nav" %>
