<div class="title">チラウラリア公営チラモン闘技場「N.T.W.」</div>

<% if user_signed_in? %>
  <div class="tweet-container">

    <div class="hukidasi">
      <h1>トレーナー情報</h1>
      <div class="m-2">
        <div>トレーナーレベル: <%= @tiramon_trainer.level %></div>
        <div>チラモンボール: <%= @tiramon_trainer.tiramon_ball %></div>
        <div>行動ポイント: <%= @tiramon_trainer.move %>/<%= @tiramon_trainer.move_max %></div>
      </div>
      <div class="m-2">
        <div>チラモン: <%= @my_tiramons.count %>匹</div>
        <div>ヒマなチラモン: <%= @my_free_tiramos_count %>/<%= @my_tiramons.count %>匹</div>
        <div>交渉中のチラモン: <%= @negotiations_tiramons.count %>匹</div>
      </div>

      <div class="m-2">
        <%= link_to tiramon_trainer_path, class: "btn btn-primary w-100" do %>
          チラモン&トレーナー情報
          <% if @negotiations_tiramons.present? %>
            <br />チラモンをゲットしましょう！
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="hukidasi">
      <h1>チラモンショップ</h1>
      <h3>所持VARTH <%= @user_points %>va</h3>
      <div class="m-2">
        <%= link_to tiramon_trainer_get_ball_path(id: @tiramon_trainer), method: :post, class: "btn btn-danger w-100", data: { confirm: "チラモンボールを購入しますか？" } do %>
          チラモンボールを購入<br />
          <%= Constants::TIRAMON_TRAINER_BALL_PRICE %>va
        <% end %>
      </div>
      <div class="m-2">
        <%= link_to tiramon_trainer_move_recovery_path(id: @tiramon_trainer), method: :post, class: "btn btn-warning w-100", data: { confirm: "行動ポイントを回復しますか？" } do %>
          行動ポイントを回復<br />
          <%= Constants::TIRAMON_TRAINER_MOVE_RECOVERY_PRICE %>va
        <% end %>
      </div>
    </div>

  </div>
<% end %>

<% if @mania_battle.present? and @in_match %>
  <div class="tweet-container">
    <div class="hukidasi">
      <h1>試合中</h1>
      <h3><%= Constants::TIRAMON_RULE_NAME[0] %></h3>

      <div class="d-flex flex-column flex-sm-row-reverse flex-wrap justify-content-center">

        <% t = @mania_battle.red_tiramon.getData %>
        <div class="content d-flex flex-column justify-content-center">
          <div class="content d-flex justify-content-center m-2">
            <div class="content-image">
              <%= link_to @mania_battle.red_tiramon, class: "link-item-image" do %>
                <div class="tiramon-icon">
                  <div class="tiramon-icon-img"><%= image_tag "/images/tiramon/icons/tiramon (#{@mania_battle.red_tiramon.icon}).png", class: "image_x64 zoom" %></div>
                </div>
              <% end %>

              <% if Constants::TIRAMON_KING_RULE[0] %>
                <div class="text-center">
                  <i class="fas fa-crown"></i>
                </div>
              <% end %>
            </div>
            <div class="content-content word-break">
              <div><%= t[:name] %></div>
              <div></div>
              <div><%= t[:train][:level].to_i %> Lv</div>
              <div><%= (t[:height]*100).to_i %> cm</div>
              <div><%= t[:weight].to_i %> kg</div>
            </div>
          </div>
        </div>

        <div class="content d-flex justify-content-center m-2">
          <div class="content-content text-center word-break">
            <div>VS</div>
          </div>
        </div>

        <% t = @mania_battle.blue_tiramon.getData %>
        <div class="content d-flex flex-column justify-content-center">
          <div class="content d-flex justify-content-center m-2">
            <div class="content-image">
              <%= link_to @mania_battle.blue_tiramon, class: "link-item-image" do %>
                <div class="tiramon-icon">
                  <div class="tiramon-icon-img"><%= image_tag "/images/tiramon/icons/tiramon (#{@mania_battle.blue_tiramon.icon}).png", class: "image_x64 zoom" %></div>
                </div>
              <% end %>
            </div>
            <div class="content-content word-break">
              <div><%= t[:name] %></div>
              <div class="m-1"></div>
              <div><%= t[:train][:level].to_i %> Lv</div>
              <div><%= (t[:height]*100).to_i %> cm</div>
              <div><%= t[:weight].to_i %> kg</div>
            </div>
          </div>
        </div>

      </div>


      <div class="d-flex flex-wrap justify-content-center">
        <div>
          <%= link_to @mania_battle, class: "btn btn-primary w-100" do %>
            試合を見る
          <% end %>
        </div>
      </div>

    </div>

    <div class="hukidasi">
      <h3>チラモンマニア賭博</h3>
      <% t = @mania_battle.red_tiramon.getData %>
      <h4><%= t[:name] %></h4>
      <h5>オッズ:<%= TiramonBet.odds(@mania_battle, -1) %></h5>

      <hr />

      <% t = @mania_battle.blue_tiramon.getData %>
      <h4><%= t[:name] %></h4>
      <h5>オッズ:<%= TiramonBet.odds(@mania_battle, 1) %></h5>

    </div>

  </div>
<% end %>

<div class="tweet-container">
  <div class="hukidasi">
    <h1>次の試合</h1>

    <% if !@next_battles_present %>
      <div class="m-2">
        <p>現在、決定しているカードはありません。</p>
      </div>
    <% end %>

    <div class="tweet-container">
      <% @next_battles.map.with_index do |next_battles, index| %>
        <% rank = index %>

        <% if next_battles.present? %>
          <% next_battles.map do |next_battle| %>

            <% if next_battle.present? %>
              <div class="hukidasi m-2">
                <h3><%= Constants::TIRAMON_RULE_NAME[rank] %></h3>

                <div class="d-flex flex-column flex-sm-row-reverse flex-wrap justify-content-center">

                  <% t = next_battle.red_tiramon.getData %>
                  <div class="content d-flex flex-column justify-content-center">
                    <div class="content d-flex justify-content-center m-2">
                      <div class="content-image">
                        <%= link_to next_battle.red_tiramon, class: "link-item-image" do %>
                          <div class="tiramon-icon">
                            <div class="tiramon-icon-img"><%= image_tag "/images/tiramon/icons/tiramon (#{next_battle.red_tiramon.icon}).png", class: "image_x64 zoom" %></div>
                          </div>
                        <% end %>

                        <% if Constants::TIRAMON_KING_RULE[rank] %>
                          <div class="text-center">
                            <i class="fas fa-crown"></i>
                          </div>
                        <% end %>
                      </div>
                      <div class="content-content word-break">
                        <div><%= t[:name] %></div>
                        <div></div>
                        <div><%= t[:train][:level].to_i %> Lv</div>
                        <div><%= (t[:height]*100).to_i %> cm</div>
                        <div><%= t[:weight].to_i %> kg</div>
                      </div>
                    </div>
                  </div>

                  <div class="content d-flex justify-content-center m-2">
                    <div class="content-content text-center word-break">
                      <div>VS</div>
                    </div>
                  </div>

                  <% t = next_battle.blue_tiramon.getData %>
                  <div class="content d-flex flex-column justify-content-center">
                    <div class="content d-flex justify-content-center m-2">
                      <div class="content-image">
                        <%= link_to next_battle.blue_tiramon, class: "link-item-image" do %>
                          <div class="tiramon-icon">
                            <div class="tiramon-icon-img"><%= image_tag "/images/tiramon/icons/tiramon (#{next_battle.blue_tiramon.icon}).png", class: "image_x64 zoom" %></div>
                          </div>
                        <% end %>
                      </div>
                      <div class="content-content word-break">
                        <div><%= t[:name] %></div>
                        <div class="m-1"></div>
                        <div><%= t[:train][:level].to_i %> Lv</div>
                        <div><%= (t[:height]*100).to_i %> cm</div>
                        <div><%= t[:weight].to_i %> kg</div>
                      </div>
                    </div>
                  </div>

                </div>


                <div class="d-flex flex-wrap justify-content-center">
                  <div class="content d-flex justify-content-center">
                    <div class="content-content text-center word-break">
                      <div><%= next_battle.datetime.strftime("%Y年%m月%d日 %H:%M:%S") %> 試合開始</div>
                    </div>
                  </div>
                </div>

              </div>


              <% if user_signed_in? %>
                <% if next_battle.rank == 0 %>
                  <div class="hukidasi">
                    <h3>チラモンマニア賭博</h3>
                    <% if @bet.present? %>

                    <% if @bet.bet == 1 %>
                      <% t = next_battle.blue_tiramon.getData %>
                    <% elsif  @bet.bet == -1 %>
                      <% t = next_battle.red_tiramon.getData %>
                    <% end %>
                    <h4>あなたのベット</h4>
                    <h4><%= t[:name] %></h4>
                    <h5>varth:<%= @bet.bet_amount.to_i %></h5>
                    <h5>オッズ:<%= TiramonBet.odds(next_battle, @bet.bet) %></h5>

                    <% else %>

                      <% t = next_battle.red_tiramon.getData %>
                      <%= form_with url: tiramon_bet_bet_path(), method: :post, local: true do %>

                        <h4><%= t[:name] %></h4>
                        <h5>オッズ:<%= TiramonBet.odds(next_battle, -1) %></h5>
                        <div class="input-group">
                          <%= hidden_field_tag :bet, "-1"%>
                          <%= text_field_tag :point, "", class: "form-control", placeholder: "va", size: 10 %>
                          <div class="input-group-append">
                            <%= button_tag type: "submit", class: "change-disabled-button btn btn-danger" do %>
                              <span>賭ける</span>
                              <i class="fa fa-spinner fa-pulse"></i>
                            <% end %>
                          </div>
                        </div>
                      <% end %>

                      <hr />

                      <% t = next_battle.blue_tiramon.getData %>
                      <%= form_with url: tiramon_bet_bet_path(), method: :post, local: true do %>

                        <h4><%= t[:name] %></h4>
                        <h5>オッズ:<%= TiramonBet.odds(next_battle, 1) %></h5>
                        <div class="input-group">
                          <%= hidden_field_tag :bet, "1"%>
                          <%= text_field_tag :point, "", class: "form-control", placeholder: "va", size: 10 %>
                          <div class="input-group-append">
                            <%= button_tag type: "submit", class: "change-disabled-button btn btn-danger" do %>
                              <span>賭ける</span>
                              <i class="fa fa-spinner fa-pulse"></i>
                            <% end %>
                          </div>
                        </div>
                      <% end %>

                    <% end %>

                  </div>
                <% end %>
              <% end %>


            <% end %>

          <% end %>

        <% end %>

      <% end %>

    </div>
  </div>
</div>

<div class="tweet-container">

  <div class="hukidasi">
    <h3>試合結果(最新<%= @battles.count %>件)</h3>
    <% if @battles.present? %>
      <% @battles.map do |battle| %>
          <div class="content d-flex justify-content-center">
            <div class="content-content text-center word-break">
              <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="flex-shrink-0 mx-1">
                  <%= Constants::TIRAMON_RULE_NAME[battle.rank] %><br />
                  <%= battle.datetime.strftime("%m月%d日 %H:%M") %>
                </div>
                <div class="flex-shrink-1 mx-1 text-center">
                  <div>
                    <%= link_to battle, class: "d-flex flex-row flex-wrap justify-content-center" do %>
                      <div><%= battle.blue_tiramon_name %></div>
                      <div>&ensp;vs&ensp;</div>
                      <div><%= battle.red_tiramon_name %></div><% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    <% else %>
      <div class="content d-flex flex-wrap justify-content-center m-2">
        <div class="text-center">
          まだありません。
        </div>
      </div>
    <% end %>
    <hr />
    <div class="d-flex flex-row justify-content-around">
      <div class="m-1">
        <%= link_to tiramon_battle_results_path, class: "btn btn-primary" do %>
          以前の試合結果
        <% end %>
      </div>
      <div class="m-1">
        <%= link_to tiramon_battle_rank_results_path, class: "btn btn-primary" do %>
          ランクマッチ
        <% end %>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="hukidasi">
      <h3>マイチラモンの試合結果(最新<%= @my_battles.count %>件)</h3>
      <% if @my_battles.present? %>
        <% @my_battles.map do |battle| %>
            <div class="content d-flex justify-content-center">
              <div class="content-content text-center word-break">
                <div class="d-flex flex-row justify-content-center align-items-center">
                  <div class="flex-shrink-0 mx-1">
                    <%= Constants::TIRAMON_RULE_NAME[battle.rank] %><br />
                    <%= battle.datetime.strftime("%m月%d日 %H:%M") %>
                  </div>
                  <div class="flex-shrink-1 mx-1 text-center">
                    <div>
                      <%= link_to battle, class: "d-flex flex-row flex-wrap justify-content-center" do %>
                        <div><%= battle.blue_tiramon_name %></div>
                        <div>&ensp;vs&ensp;</div>
                        <div><%= battle.red_tiramon_name %></div><% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      <% else %>
        <div class="content d-flex flex-wrap justify-content-center m-2">
          <div class="text-center">
            まだありません。
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="hukidasi">
    <h3>出場選手一覧</h3>
    <div class="m-2">
      <%= link_to tiramons_path, class: "btn btn-primary w-100" do %>
        出場選手一覧を見る
      <% end %>
    </div>
    <div class="m-2">
      <%= link_to tiramon_ranks_path, class: "btn btn-primary w-100" do %>
        ランキングを見る
      <% end %>
    </div>
  </div>

</div>

<div class="tweet-container">
  <div class="hukidasi">
    <h1>遊び方</h1>
    <p>チラウラリアモンスター(通称チラモン)を育て、あいてのチラモンと闘わせるゲームです。</p>
    <p>チラモンを育て、技を教え、戦術を練ると、チラモンは自分で考え、闘います。</p>
    <p>最強のチラモンを育て上げ、「チラモンマスター」を目指しましょう！</p>
  </div>
</div>

<div class="tweet-container">
  <div class="hukidasi">
    <h1>あいさつ</h1>
    <p>はじめまして！<br />チラウラリア モンスターの せかいへ<br />ようこそ！</p>
    <p>わたしの なまえは <%= Gimei.last %><br />みんなからは チラモン はかせと<br />したわれて おるよ</p>
    <p>この せかいには<br />チラウラリア モンスターと よばれる</p>
    <p>いきもの たちが<br />いたるところに すんでいる！</p>
    <p>その チラモン という いきものを<br />ひとは ペットに したり<br />しょうぶに つかったり・・・</p>
    <p>そして・・・</p>
    <p>わたしは この チラモンの<br />けんきゅうを してる というわけだ</p>
    <br />
    <p>いよいよ これから<br />きみの ものがたりの はじまりだ！</p>
    <p>ゆめと ぼうけんと！<br />チラウラリア モンスターの せかいへ！<br />レッツ ゴー！</p>
  </div>

  <div class="hukidasi">
    <h1>ルール & 賞金 & スケジュール</h1>
    <div>
      <h3><%= Constants::TIRAMON_RULE_NAME[0] %></h3>
      <div class="m-2">
        <div>ルール: フリー戦（ランダム）</div>
        <div>条件: 過去一週間の<%= Constants::TIRAMON_RULE_NAME[1] %>での勝者</div>
        <div>賞金: <%= Constants::TIRAMON_FIGHT_VARTH[0] %>va</div>
        <div>時間: 毎週日曜19時</div>
      </div>
    </div>
    <div>
      <h3><%= Constants::TIRAMON_RULE_NAME[1] %></h3>
      <div class="m-2">
        <div>ルール: 王座戦（勝ち残り）</div>
        <div>賞金: <%= Constants::TIRAMON_FIGHT_VARTH[1] %>va</div>
        <div>時間: 毎日17時</div>
      </div>
    </div>
    <div>
      <h3><%= Constants::TIRAMON_RULE_NAME[2] %></h3>
      <div class="m-2">
        <div>ルール: 王座戦（勝ち残り）</div>
        <div>賞金: <%= Constants::TIRAMON_FIGHT_VARTH[2] %>va</div>
        <div>時間: 毎日0時、4時、8時、12時、16時、20時</div>
      </div>
    </div>
    <div>
      <h3><%= Constants::TIRAMON_RULE_NAME[3] %></h3>
      <div class="m-2">
        <div>ルール: 王座戦（勝ち残り）</div>
        <div>賞金: <%= Constants::TIRAMON_FIGHT_VARTH[3] %>va</div>
        <div>時間: 毎日0時、3時、6時、9時、12時、15時、18時、21時</div>
      </div>
    </div>
    <div>
      <h3><%= Constants::TIRAMON_RULE_NAME[4] %></h3>
      <div class="m-2">
        <div>ルール: フリー戦（ランダム）</div>
        <div>賞金: <%= Constants::TIRAMON_FIGHT_VARTH[4] %>va</div>
        <div>時間: 毎時10分、30分、50分</div>
      </div>
    </div>
    <div>
      <h3><%= Constants::TIRAMON_RULE_NAME[5] %></h3>
      <div class="m-2">
        <div>ルール: フリー戦（ランダム）</div>
        <div>賞金: <%= Constants::TIRAMON_FIGHT_VARTH[5] %>va</div>
        <div>時間: 毎時1分、15分、25分、35分、 45分、55分</div>
      </div>
    </div>
    <div>
      <h3><%= Constants::TIRAMON_RULE_NAME[6] %></h3>
      <div class="m-2">
        <div>ルール: フリー戦（ランダム）</div>
        <div>賞金: <%= Constants::TIRAMON_FIGHT_VARTH[6] %>va</div>
        <div>時間: 毎時1分、15分、25分、35分、 45分、55分</div>
      </div>
    </div>
  </div>
</div>
