<div class="users-container">
  <% if tiramons.blank? %>
    <div class="nothing">チラモンがいません</div>
  <% end %>

  <div class="d-flex flex-row flex-wrap">
    <% tiramons.map do |tiramon| %>
      <% data = tiramon.getData %>

      <%= link_to tiramon, class: "link-item-hukidasi" do %>
        <div class="users m-2">
          <div>
            <%= image_tag "/images/tiramon/tiramon.png", class: "user-img" %>
          </div>

          <div class="users-info">
            <div class="users-name"><%= data[:name] %></div>
            <div class="users-desc">階級: <%= Constants::TIRAMON_RULE_NAME[tiramon.rank] %></div>
            <div class="users-desc">Lv: <%= data[:train][:level].to_i %> Lv</div>
            <div class="users-desc">身長: <%= (data[:height] * 100).to_i %> cm</div>
            <div class="users-desc">体重: <%= data[:weight].to_i %> kg</div>

            <% if tiramon.tiramon_trainer.user.id == current_user.id %>
              <% if tiramon.act == nil or tiramon.act < Time.current %>
                <div class="users-desc m-2">育成できます！</div>
              <% else %>
                <div class="users-desc m-2">育成中: <%= distance_of_time_in_words_to_now(tiramon.act) %></div>
              <% end %>
            <% end %>

            <% if inNegotiation %>
              <div class="users-desc m-2">残り: <%= distance_of_time_in_words_to_now(tiramon.get_limit) %></div>
            <% end %>

          </div>
        </div>
      <% end %>

    <% end %>
  </div>

</div>
