<div class="users-container">
  <% if tiramons.blank? %>
    <div class="nothing">チラモンがいません</div>
  <% end %>

  <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
    <% tiramons.map do |tiramon| %>
      <% data = Tiramon.getBattleData(tiramon.getData) %>

      <%= link_to tiramon, class: "link-item-hukidasi" do %>
        <div class="tiramon">
          <h3><%= data[:name] %></h3>
          <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="tiramon-icon">
              <div class="tiramon-icon-img">
                <%= image_tag "/images/tiramon/tiramon_back.png", class: "tiramon-icon-back c-#{Tiramon.get_message(Constants::TIRAMON_STATUS_RANK, Tiramon.leap(0, 1, (data[:quality])))[0]}" %>
                <%= image_tag "/images/tiramon/icons/tiramon (#{tiramon.icon}).png", class: "image_x64 zoom" %>
              </div>
              <div class="badge badge-pill badge-dark badge_float"><%= Tiramon.get_message(Constants::TIRAMON_STATUS_RANK, Tiramon.leap(0, 1, (data[:quality]))) %></div>
            </div>

            <div class="users-info">
              <div class="users-desc text-big">Lv: <%= data[:level].to_i %></div>
              <div class="users-desc">身長: <%= (data[:height] * 100).to_i %> cm</div>
              <div class="users-desc">体重: <%= data[:weight].to_i %> kg</div>
            </div>
          </div>

          <div class="d-flex justify-content-center align-items-center">
            <div class="m-2">
              <div>階級: <%= tiramon.entry ? Constants::TIRAMON_RULE_NAME[tiramon.rank] : "欠場" %></div>
              <div>ランク: <%= tiramon.auto_rank ? tiramon.auto_rank : "なし" %></div>
            </div>
          </div>

          <div class="text-center m-1">
            <% if tiramon.tiramon_trainer.present? and tiramon.tiramon_trainer.user_id == current_user.id and myTiramon %>
              <div class="text-center m-1">元気: <%= (tiramon.act_gauge * 100).to_i %>%</div>
              <% if tiramon.can_act? %>
                <div class="text-center m-1">育成できます！</div>
              <% else %>
                <% if tiramon.adjust? %>
                  <div class="text-center m-1">試合に向けて調整中…</div>
                <% else %>
                  <div class="text-center m-1">元気回復中: <%= distance_of_time_in_words(tiramon.act_next) %></div>
                <% end %>
              <% end %>
            <% end %>

            <% if inNegotiation %>
              <div class="text-center m-1">残り: <%= distance_of_time_in_words_to_now(tiramon.get_limit) %></div>
            <% end %>
          </div>
        </div>
      <% end %>

    <% end %>
  </div>

</div>
