<div class="users-container">
  <% if tiramons.blank? %>
    <div class="nothing">チラモンがいません</div>
  <% end %>

  <% tiramons.map do |tiramon| %>
    <% data = tiramon.getData2 %>

    <%= link_to tiramon, class: "link-item-hukidasi" do %>
      <div class="users">
        <div>
          <%= image_tag "/images/tiramon/tiramon.png", class: "user-img" %>
        </div>

        <div class="users-info">
          <div class="users-name"><%= data[:name] %></div>
          <div class="users-desc"><%= (data[:height] * 100).to_i %> cm</div>
          <div class="users-desc"><%= data[:weight].to_i %> kg</div>
        </div>
      </div>
    <% end %>

  <% end %>

</div>
