<div class="title">武者修行</div>
<%= render partial: "/layouts/tiramon_nav" %>

<div class="tweet-container list">
  <div class="hukidasi width-full word-break">
    <h1>チラモン情報</h1>

    <div class="d-flex flex-row flex-wrap">

      <div class="hukidasi m-2">基本情報:
        <ul>
          <li>名前: <%= @disp_data[:name] %></li>
          <li>階級: <%= Constants::TIRAMON_RULE_NAME[@tiramon.rank] %></li>
          <li>Lv: <%= @disp_data[:level].to_i %></li>
          <li>身長: <%= (@disp_data[:height] * 100).to_i  %>cm</li>
          <li>体重: <%= (@disp_data[:weight]).to_i %>kg</li>
        </ul>
      </div>

      <div class="hukidasi m-2">基礎能力:
        <ul>
          <li>体力: <%= Tiramon.about((@disp_data[:hp]), @about).to_i %></li>
          <li>精神力: <%= Tiramon.about((@disp_data[:mp]), @about).to_i %></li>
          <li>スタミナ: <%= Tiramon.about((@disp_data[:sp]), @about).to_i %></li>
          <li>スピード: <%= Tiramon.about((@disp_data[:speed]), @about).to_i %></li>
        </ul>
      </div>

      <div class="hukidasi m-2">回復力:
        <ul>
          <li>体力: <%= Tiramon.about((@disp_data[:recovery_hp]), @about).to_i %></li>
          <li>精神力: <%= Tiramon.about((@disp_data[:recovery_mp]), @about).to_i %></li>
          <li>スタミナ: <%= Tiramon.about((@disp_data[:recovery_sp]), @about).to_i %></li>
        </ul>
      </div>

      <div class="hukidasi m-2 d-flex flex-row flex-wrap">
        <div class="hukidasi m-2">技術力-攻撃:
          <ul>
            <li>打: <%= Tiramon.about((@disp_data[:attack][0] * 100), @about).to_i %></li>
            <li>投: <%= Tiramon.about((@disp_data[:attack][1] * 100), @about).to_i %></li>
            <li>極: <%= Tiramon.about((@disp_data[:attack][2] * 100), @about).to_i %></li>
          </ul>
        </div>
        <div class="hukidasi m-2">技術力-防御:
          <ul>
            <li>打: <%= Tiramon.about((@disp_data[:defense][0] * 100), @about).to_i %></li>
            <li>投: <%= Tiramon.about((@disp_data[:defense][1] * 100), @about).to_i %></li>
            <li>極: <%= Tiramon.about((@disp_data[:defense][2] * 100), @about).to_i %></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="text-center">
      <%= link_to @tiramon, class: "btn btn-primary m-2" do %>
        チラモン画面へ戻る
      <% end %>
    </div>

  </div>

</div>

<div class="tweet-container list">
  <div class="hukidasi width-full word-break">
    <h1><%= Constants::TIRAMON_ADVENTURE_STAGES[@enemy_class][@stage] %></h1>
    <h3>選手に勝利すると、<%= Constants::TIRAMON_ADVENTURE_PRIZE[@enemy_class][@stage] %>va獲得できます。</h3>
    <h3>負けると、<%= distance_of_time_in_words_to_now(Time.current + Constants::TIRAMON_ADVENTURE_FAIL_TIME[@enemy_class][@stage]) %>間再挑戦できません。</h3>
    <% if @tiramon.can_adventure? %>
    <% else %>
      <h5>あと<%= distance_of_time_in_words_to_now(@tiramon.adventure_time) %>お待ち下さい。</h5>
    <% end %>

    <div class="d-flex flex-row flex-wrap">
      <%= render partial: "/tiramons/enemy_tiramons", locals: { adventure_data: @adventure_data, enemies: @enemy_tiramons, tiramon_id: @tiramon.id } %>
    </div>

  </div>

</div>

<%= render partial: "/layouts/tiramon_nav" %>
