<%= render partial: "/layouts/tiramon_nav" %>

<div class="tweet-container list">
  <div class="hukidasi width-full word-break">
    <h1>チラモン情報</h1>

    <div class="d-flex flex-row flex-wrap">

      <div class="hukidasi m-2">基本情報:
        <ul>
          <li>名前: <%= @disp_data[:name] %></li>
          <li>階級: <%= Constants::TIRAMON_RULE_NAME[@tiramon.rank] %></li>
          <li>Lv: <%= @disp_data[:level].to_i %></li>
          <li>身長: <%= (@disp_data[:height] * 100).to_i  %>cm</li>
          <li>体重: <%= (@disp_data[:weight]).to_i %>kg</li>
        </ul>
      </div>

      <div class="hukidasi m-2">基礎能力:
        <ul>
          <li>体力: <%= Tiramon.about((@disp_data[:hp]), @about).to_i %></li>
          <li>精神力: <%= Tiramon.about((@disp_data[:mp]), @about).to_i %></li>
          <li>スタミナ: <%= Tiramon.about((@disp_data[:sp]), @about).to_i %></li>
          <li>スピード: <%= Tiramon.about((@disp_data[:speed]), @about).to_i %></li>
        </ul>
      </div>

      <div class="hukidasi m-2">回復力:
        <ul>
          <li>体力: <%= Tiramon.about((@disp_data[:recovery_hp]), @about).to_i %></li>
          <li>精神力: <%= Tiramon.about((@disp_data[:recovery_mp]), @about).to_i %></li>
          <li>スタミナ: <%= Tiramon.about((@disp_data[:recovery_sp]), @about).to_i %></li>
        </ul>
      </div>

      <div class="hukidasi m-2 d-flex flex-row flex-wrap">
        <div class="hukidasi m-2">技術力-攻撃:
          <ul>
            <li>打: <%= Tiramon.about((@disp_data[:attack][0] * 100), @about).to_i %></li>
            <li>投: <%= Tiramon.about((@disp_data[:attack][1] * 100), @about).to_i %></li>
            <li>極: <%= Tiramon.about((@disp_data[:attack][2] * 100), @about).to_i %></li>
          </ul>
        </div>
        <div class="hukidasi m-2">技術力-防御:
          <ul>
            <li>打: <%= Tiramon.about((@disp_data[:defense][0] * 100), @about).to_i %></li>
            <li>投: <%= Tiramon.about((@disp_data[:defense][1] * 100), @about).to_i %></li>
            <li>極: <%= Tiramon.about((@disp_data[:defense][2] * 100), @about).to_i %></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="text-center">
      <%= link_to @tiramon, class: "btn btn-primary my-1" do %>
        戻る
      <% end %>
    </div>

  </div>

  <div class="hukidasi width-full word-break">
    <h1>戦い方の設定</h1>

    <% if params[:mode] == "easy" %>

      <%= form_with url: tiramon_set_move_path(id: @tiramon), method: :post, local: true do %>
        <div class="d-flex flex-row flex-wrap">

          <% status = ["無傷", "小ダメージ", "大ダメージ", "瀕死"] %>
          <% 4.times do |e| %>
            <div class="hukidasi m-2">
              <h2>相手が<%= status[e] %>の場合</h2>
              <div>
                <% 6.times do |i| %>
                <div class="input-group my-1">
                  <%= select_tag "move[0][#{e}][]", options_for_select(@select, selected: @moves[0][e][i]), class: "form-control" %>
                </div>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
        <div class="text-center">
          <%= hidden_field_tag :mode, "easy" %>
          <%= button_tag type: "submit", class: "btn btn-primary mt-2" do %>
            戦い方を設定する
          <% end %>
        </div>
      <% end %>

    <% else %>

      <%= form_with url: tiramon_set_move_path(id: @tiramon), method: :post, local: true do %>
        <div class="d-flex flex-row flex-wrap">

          <% status = ["100%", "75%", "50%", "25%"] %>
          <% 4.times do |s| %>
            <div class="d-flex flex-row flex-wrap">
              <% 4.times do |e| %>
                <div class="hukidasi m-2">
                  <h2>自分の体力が<%= status[s] %>以下の場合</h2>
                  <h2>相手の体力が<%= status[e] %>以下の場合</h2>
                  <div>
                    <% 6.times do |i| %>
                    <div class="input-group my-1">
                      <%= select_tag "move[#{s}][#{e}][]", options_for_select(@select, selected: @moves[s][e][i]), class: "form-control" %>
                    </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>

        </div>
        <div class="text-center">
          <%= button_tag type: "submit", class: "btn btn-primary mt-2" do %>
            戦い方を設定する
          <% end %>
        </div>
      <% end %>

    <% end %>

  </div>
</div>
