<%= render partial: "/layouts/tiramon_nav" %>

<div class="tweet-container list">
  <div class="hukidasi width-full word-break">
    <h1>チラモン情報</h1>
    <% if !@my_tiramon %>
      <% if @right %>
        <div>ゲット前のチラモンの情報は大まかな値です</div>
      <% else %>
        <div>他人のチラモンの情報は大まかな値です</div>
        <% end %>
    <% end %>

    <div class="d-flex flex-row flex-wrap">

      <div class="hukidasi m-2">基本情報:
        <ul>
          <li>名前: <%= @disp_data[:name] %></li>
          <li>階級: <%= Constants::TIRAMON_RULE_NAME[@tiramon.rank] %></li>
          <li>Lv: <%= @disp_data[:level].to_i %></li>
          <li>身長: <%= (@disp_data[:height] * 100).to_i  %>cm</li>
          <li>体重: <%= (@disp_data[:weight]).to_i %>kg</li>
        </ul>
      </div>

      <div class="hukidasi m-2">基礎能力:
        <ul>
          <li>体力: <%= Tiramon.about((@disp_data[:hp]), @about).to_i %></li>
          <li>精神力: <%= Tiramon.about((@disp_data[:mp]), @about).to_i %></li>
          <li>スタミナ: <%= Tiramon.about((@disp_data[:sp]), @about).to_i %></li>
          <li>スピード: <%= Tiramon.about((@disp_data[:speed]), @about).to_i %></li>
        </ul>
      </div>

      <div class="hukidasi m-2">回復力:
        <ul>
          <li>体力: <%= Tiramon.about((@disp_data[:recovery_hp]), @about).to_i %></li>
          <li>精神力: <%= Tiramon.about((@disp_data[:recovery_mp]), @about).to_i %></li>
          <li>スタミナ: <%= Tiramon.about((@disp_data[:recovery_sp]), @about).to_i %></li>
        </ul>
      </div>

      <div class="hukidasi m-2 d-flex flex-row flex-wrap">
        <div class="hukidasi m-2">技術力-攻撃:
          <ul>
            <li>打: <%= Tiramon.about((@disp_data[:attack][0] * 100), @about).to_i %></li>
            <li>投: <%= Tiramon.about((@disp_data[:attack][1] * 100), @about).to_i %></li>
            <li>極: <%= Tiramon.about((@disp_data[:attack][2] * 100), @about).to_i %></li>
          </ul>
        </div>
        <div class="hukidasi m-2">技術力-防御:
          <ul>
            <li>打: <%= Tiramon.about((@disp_data[:defense][0] * 100), @about).to_i %></li>
            <li>投: <%= Tiramon.about((@disp_data[:defense][1] * 100), @about).to_i %></li>
            <li>極: <%= Tiramon.about((@disp_data[:defense][2] * 100), @about).to_i %></li>
          </ul>
        </div>
      </div>

    </div>

    <% if @getable %>
      <div class="text-center">
        <%= link_to tiramon_get_path(id: @tiramon), method: :post, class: "btn btn-primary rounded-pill m-2", data: { confirm: "本当にゲットしますか？" } do %>
          ゲットする！(チラモンボール: 残り<%= @tiramon_trainer.tiramon_ball %>)
        <% end %>
      </div>
    <% end %>

  </div>
</div>


<% if @my_tiramon %>
  <% disabled = @can_act ? "" : " disabled" %>
  <div class="tweet-container list">
    <div class="hukidasi width-full word-break">
      <h1>チラモン育成</h1>
      <div class="d-flex flex-row flex-wrap">

        <div class="hukidasi d-flex flex-column m-2">
          <h2>育成状況</h2>
          <% if @can_act %>
            <div class="content m-2">育成できます！</div>
          <% else %>
            <% if @tiramon.adjust? %>
              <div class="users-desc m-2">試合に向けて調整中…</div>
            <% else %>
              <div class="content m-2">次に育成できるまで: <%= distance_of_time_in_words_to_now(@tiramon.act) %></div>
            <% end %>
          <% end %>
          <% if @training.present? %>
            <div class="content d-flex flex-column m-2">
              <div class="m-2">最近の育成</div>
              <div><%= @training[:name] %></div>
              <div><%= @training[:effect] %></div>
              <% if @training[:level_up].present? %>
                <div><%= @training[:level_up] %></div>
              <% end %>
            </div>
          <% end %>
          <% if !@can_act and !@tiramon.adjust? %>
            <div class="content d-flex flex-column m-2">
              <%= link_to tiramon_refresh_path(id: @tiramon), method: :post, class: "btn btn-danger w-100 my-1", data: { confirm: "リフレッシュしますか？" } do %>
                リフレッシュ<br />
                <%= Constants::TIRAMON_REFRESH_PRICE.to_i.to_s %>va
              <% end %>
            </div>
          <% end %>

        </div>

        <div class="hukidasi m-2">
          <h2>肉体改造</h2>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 0), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              増量
            <% end %>
          </div>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 1), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              減量
            <% end %>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2>基礎能力</h2>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 10), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              体力トレーニング
            <% end %>
          </div>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 11), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              メンタルトレーニング
            <% end %>
          </div>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 12), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              スタミナトレーニング
            <% end %>
          </div>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 13), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              スピードトレーニング
            <% end %>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2>回復力</h2>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 20), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              体力トレーニング
            <% end %>
          </div>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 21), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              メンタルトレーニング
            <% end %>
          </div>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 22), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              スタミナトレーニング
            <% end %>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2>技術力-攻撃</h2>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 30), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              打撃トレーニング
            <% end %>
          </div>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 31), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              レスリングトレーニング
            <% end %>
          </div>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 32), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              寝技トレーニング
            <% end %>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2>技術力-防御</h2>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 40), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              打撃スパーリング
            <% end %>
          </div>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 41), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              レスリングスパーリング
            <% end %>
          </div>
          <div>
            <%= link_to tiramon_training_path(id: @tiramon, training: 42), method: :post, class: "btn btn-primary w-100 my-1"+disabled, data: { confirm: "トレーニングしますか？\nチラモン育成には時間がかかります！" } do %>
              寝技スパーリング
            <% end %>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2>技を覚える</h2>
          <div>
            <%= form_with url: tiramon_get_move_path(id: @tiramon), method: :post, local: true do %>
              <div class="input-group my-1">
                <%= select_tag :get_move, options_for_select(@select), class: "form-control" %>
                <div class="input-group-append">
                  <%= button_tag type: "submit", class: "btn btn-primary w-100"+disabled, disabled: !@can_act, data: { confirm: "技を覚えますか？\nチラモン育成には時間がかかります！" } do %>
                    習得
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div>
            <%= link_to tiramon_inspire_move_path(id: @tiramon), method: :post, class: "btn btn-primary w-100 my-1"+disabled, disabled: !@can_act, data: { confirm: "ひらめきますか？\nチラモン育成には時間がかかります！" } do %>
              技をひらめく
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="tweet-container list">
    <div class="hukidasi width-full word-break">
      <h1>戦術会議</h1>
      <div class="d-flex flex-row flex-wrap">

        <div class="hukidasi m-2">
          <h2>現在のスタイル</h2>
          <div>勘にまかせる: <%= (@disp_data[:tactics][:intuition]).to_i %></div>
          <div>相手を研究する: <%= (@disp_data[:tactics][:study]).to_i %></div>
          <div>状況に合わせる: <%= (@disp_data[:tactics][:flexible]).to_i %></div>
          <div>警戒する: <%= (@disp_data[:tactics][:wary]).to_i %></div>
          <div class="p-2">警戒属性:
            <div>打: <%= (@disp_data[:wary][0]).to_i %></div>
            <div>投: <%= (@disp_data[:wary][1]).to_i %></div>
            <div>極: <%= (@disp_data[:wary][2]).to_i %></div>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2>スタイル設定</h2>
          <div>
            <%= form_with url: tiramon_set_style_path(id: @tiramon), method: :post, local: true do %>
              <div class="input-group my-1">
                <div class="input-group-prepend">
                  <div class="input-group-text">勘</div>
                </div>
                <%= text_field_tag :intuition, (@disp_data[:tactics][:intuition]).to_i, class: "form-control", placeholder: "0-100", size: 10 %>
              </div>
              <div class="input-group my-1">
                <div class="input-group-prepend">
                  <div class="input-group-text">研究</div>
                </div>
                <%= text_field_tag :study, (@disp_data[:tactics][:study]).to_i, class: "form-control", placeholder: "0-100", size: 10 %>
              </div>
              <div class="input-group my-1">
                <div class="input-group-prepend">
                  <div class="input-group-text">状況</div>
                </div>
                <%= text_field_tag :flexible, (@disp_data[:tactics][:flexible]).to_i, class: "form-control", placeholder: "0-100", size: 10 %>
              </div>
              <div class="input-group my-1">
                <div class="input-group-prepend">
                  <div class="input-group-text">警戒</div>
                </div>
                <%= text_field_tag :wary, (@disp_data[:tactics][:wary]).to_i, class: "form-control", placeholder: "0-100", size: 10 %>
              </div>
              <%= button_tag type: "submit", class: "btn btn-primary w-100 mt-2" do %>
                スタイル設定
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2>警戒設定</h2>
          <div>
            <%= form_with url: tiramon_set_wary_path(id: @tiramon), method: :post, local: true do %>
              <div class="input-group my-1">
                <div class="input-group-prepend">
                  <div class="input-group-text">打</div>
                </div>
                <%= text_field_tag :wary_0, (@disp_data[:wary][0]).to_i, class: "form-control", placeholder: "0-100", size: 10 %>
              </div>
              <div class="input-group my-1">
                <div class="input-group-prepend">
                  <div class="input-group-text">投</div>
                </div>
                <%= text_field_tag :wary_1, (@disp_data[:wary][1]).to_i, class: "form-control", placeholder: "0-100", size: 10 %>
              </div>
              <div class="input-group my-1">
                <div class="input-group-prepend">
                  <div class="input-group-text">極</div>
                </div>
                <%= text_field_tag :wary_2, (@disp_data[:wary][2]).to_i, class: "form-control", placeholder: "0-100", size: 10 %>
              </div>
              <%= button_tag type: "submit", class: "btn btn-primary w-100 mt-2" do %>
                警戒設定
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2>戦い方</h2>
          <div>
            <%= link_to tiramon_edit_move_path(id: @tiramon, mode: "easy"), class: "btn btn-primary w-100 my-1" do %>
              戦い方設定画面へ
            <% end %>
          </div>
          <div>
            <%= link_to tiramon_edit_move_path(id: @tiramon), class: "btn btn-primary w-100 my-1" do %>
              戦い方設定(詳細)
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="tweet-container list">
    <div class="hukidasi width-full word-break">
      <h1>キャリア設定</h1>
      <div class="d-flex flex-row flex-wrap">

        <div class="hukidasi m-2">
          <h2>名前変更</h2>
          <div>
            <%= form_with url: tiramon_rename_path(id: @tiramon), method: :post, local: true do %>
              <div class="input-group my-1">
                <div class="input-group-prepend">
                  <div class="input-group-text">名前</div>
                </div>
                <%= text_field_tag :name, @disp_data[:name], class: "form-control", placeholder: "1-12文字", size: 12, maxlength: 12 %>
              </div>
              <%= button_tag type: "submit", class: "btn btn-primary w-100 mt-2"+disabled, disabled: !@can_act, data: { confirm: "名前を変更しますか？\n名前変更には時間がかかります！" } do %>
                名前変更
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2>階級変更</h2>
          <div>
            <%= form_with url: tiramon_set_rank_path(id: @tiramon), method: :post, local: true do %>
              <div class="input-group my-1">
                <%= select_tag :rank, options_for_select(@ranks, selected: @tiramon.rank), class: "form-control" %>
                <div class="input-group-append">
                  <%= button_tag type: "submit", class: "btn btn-primary w-100"+disabled, disabled: !@can_act, data: { confirm: "階級を変更しますか？\n階級変更には時間がかかります！" } do %>
                    変更
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2>別の道を歩く</h2>
          <div>
            <%= link_to tiramon_release_path(id: @tiramon), method: :post, class: "btn btn-danger w-100 my-1", data: { confirm: "チラモンをにがしますか？\nにがしたチラモンには二度と会えません！" } do %>
              チラモンをにがす
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>

<% end %>

<%= render partial: "/layouts/tiramon_nav" %>
