<div class="title">チラモン情報</div>
<%= render partial: "/layouts/tiramon_nav" %>

<%= render partial: "/tiramons/tiramon_status", locals: { tiramon: @tiramon, disp_data: @disp_data, tiramon_trainer: @tiramon_trainer, my_tiramon: @my_tiramon, getable: @getable, backable: false } %>

<% if @my_tiramon %>
  <% disabled = @can_act ? "" : " disabled" %>
  <% disabled_2 = !@adjust ? "" : " disabled" %>

  <div class="hukidasi word-break">
    <h1>チラモントレーニング</h1>
    <h5>元気を消費して、チラモンをトレーニングすることができます。</h5>
    <% if @if_bonus %>
      <h5>スタートダッシュボーナス！！あと<%= distance_of_time_in_words_to_now(@tiramon.bonus_time) %>間だけ、トレーニングで消費する元気が三分の一になります！！</h5>
    <% end %>
    <h5>試合が決定すると、試合後までトレーニングできません。</h5>
    <div class="d-flex flex-row flex-wrap justify-content-center">

      <div class="hukidasi d-flex flex-column m-2" style="max-width:400px">
        <h2 class="text-center">トレーニング状況</h2>

        <div class="text-center" style="min-width: 200px">
          <div>
            元気
          </div>
          <div>
            <% if @can_act %>
              <div class="progress border border-primary">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= @tiramon.act_gauge * 100 %>%" aria-valuemin="0" aria-valuemax="100"><%= (@tiramon.act_gauge * 100).to_i %>%</div>
              </div>
            <% else %>
              <% if @tiramon.adjust? %>
                <div class="progress border border-secondary">
                  <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= @tiramon.act_gauge * 100 %>%" aria-valuemin="0" aria-valuemax="100"><%= (@tiramon.act_gauge * 100).to_i %>%</div>
                </div>
              <% else %>
                <div class="progress border border-danger">
                  <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= @tiramon.act_gauge * 100 %>%" aria-valuemin="0" aria-valuemax="100"><%= (@tiramon.act_gauge * 100).to_i %>%</div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="text-center m-1">
        <% if @can_act %>
          トレーニングできます！
        <% else %>
          <% if @tiramon.adjust? %>
            試合に向けて調整中…
          <% else %>
            元気回復中: <%= distance_of_time_in_words(@tiramon.act_next) %>
          <% end %>
        <% end %>
        </div>

        <h5 class="text-center">元気回復メニュー</h5>
        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
          <div class="m-1">
            <%= link_to tiramon_refresh_path(id: @tiramon, level: 0), method: :post, class: "btn btn-danger w-100", data: { confirm: "リフレッシュしますか？" } do %>
              <div>牛丼（並盛）</div>
              <div class="text-small"><%= Constants::TIRAMON_REFRESH_PRICE[0].to_i.to_s %>va</div>
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_refresh_path(id: @tiramon, level: 1), method: :post, class: "btn btn-danger w-100", data: { confirm: "リフレッシュしますか？" } do %>
              <div>うな丼（並盛）</div>
              <div class="text-small"><%= Constants::TIRAMON_REFRESH_PRICE[1].to_i.to_s %>va</div>
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_refresh_path(id: @tiramon, level: 2), method: :post, class: "btn btn-danger w-100", data: { confirm: "リフレッシュしますか？" } do %>
              <div>うな重（並）</div>
              <div class="text-small"><%= Constants::TIRAMON_REFRESH_PRICE[2].to_i.to_s %>va</div>
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_refresh_path(id: @tiramon, level: 3), method: :post, class: "btn btn-danger w-100", data: { confirm: "リフレッシュしますか？" } do %>
              <div>うな重（上）</div>
              <div class="text-small"><%= Constants::TIRAMON_REFRESH_PRICE[3].to_i.to_s %>va</div>
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_refresh_path(id: @tiramon, level: 4), method: :post, class: "btn btn-danger w-100", data: { confirm: "リフレッシュしますか？" } do %>
              <div>うな重（特上）</div>
              <div class="text-small"><%= Constants::TIRAMON_REFRESH_PRICE[4].to_i.to_s %>va</div>
            <% end %>
          </div>
        </div>
        <% if @training.present? %>
          <div class="content d-flex flex-column">
            <h5 class="text-center">最近のトレーニング</h5>
            <div><%= @training[:name] %></div>
            <div><%= @training[:effect] %></div>
            <% if @training[:level_up].present? %>
              <div><%= @training[:level_up] %></div>
            <% end %>
          </div>
        <% end %>

      </div>

      <div class="hukidasi m-2" style="max-width:400px">
        <h2 class="text-center">トレーニング</h2>
        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 0), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              増量
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 1), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              減量
            <% end %>
          </div>
        </div>
        <hr />

        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 10), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              <div>体力</div>
              <div class="text-small">トレーニング</div>
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 11), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              <div>精神力</div>
              <div class="text-small">トレーニング</div>
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 12), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              <div>スタミナ</div>
              <div class="text-small">トレーニング</div>
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 13), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              <div>スピード</div>
              <div class="text-small">トレーニング</div>
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 14), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              <div>直感</div>
              <div class="text-small">トレーニング</div>
            <% end %>
          </div>
        </div>
        <hr />

        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 20), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              <div>体力回復</div>
              <div class="text-small">トレーニング</div>
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 21), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              <div>精神回復</div>
              <div class="text-small">トレーニング</div>
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 22), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              <div>スタミナ回復</div>
              <div class="text-small">トレーニング</div>
            <% end %>
          </div>
        </div>
        <hr />

        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 30), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              <div>攻撃-打</div>
              <div class="text-small">トレーニング</div>
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 31), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              <div>攻撃-投</div>
              <div class="text-small">トレーニング</div>
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 32), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              <div>攻撃-極</div>
              <div class="text-small">トレーニング</div>
            <% end %>
          </div>
        </div>
        <hr />

        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 40), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              <div>防御-打</div>
              <div class="text-small">トレーニング</div>
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 41), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              <div>防御-投</div>
              <div class="text-small">トレーニング</div>
            <% end %>
          </div>
          <div class="m-1">
            <%= link_to tiramon_training_path(id: @tiramon, training: 42), method: :post, class: "btn btn-primary"+disabled, data: { confirm: "トレーニングしますか？\nチラモントレーニングには元気を消費します！" } do %>
              <div>防御-極</div>
              <div class="text-small">トレーニング</div>
            <% end %>
          </div>
        </div>

      </div>

      <div class="hukidasi m-2" style="max-width:400px">
        <h2 class="text-center">技を覚える</h2>
        <div class="m-2">
          <p>技をひらめくと、覚えられる技リストが更新されます。</p>
          <p>技を選択し、習得ボタンを押すと、技を覚えます。</p>
          <p>技は「戦い方設定画面」で装備できます。</p>
        </div>
        <div class="m-2">
          <%= form_with url: tiramon_get_move_path(id: @tiramon), method: :post, local: true do %>
            <div class="input-group">
              <%= select_tag :get_move, options_for_select(@select), class: "form-control" %>
              <div class="input-group-append">
                <%= button_tag type: "submit", class: "btn btn-primary w-100"+disabled, disabled: !@can_act, data: { confirm: "技を覚えますか？\nチラモントレーニングには元気を消費します！" } do %>
                  習得
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="m-2">
          <%= link_to tiramon_inspire_move_path(id: @tiramon), method: :post, class: "btn btn-primary w-100"+disabled, disabled: !@can_act, data: { confirm: "ひらめきますか？\nチラモントレーニングには元気を消費します！" } do %>
            技をひらめく
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="tweet-container">
    <div class="hukidasi word-break">
      <h1>戦術会議</h1>
      <h5>戦術会議はいつでも自由に設定できます</h5>
      <div class="d-flex flex-row flex-wrap">

        <div class="hukidasi m-2">
          <h2 class="text-center">現在のスタイル</h2>
          <div class="m-2">
            <div>勘にまかせる: <%= (@disp_data[:tactics][:intuition]).to_i %></div>
            <div>相手を研究する: <%= (@disp_data[:tactics][:study]).to_i %></div>
            <div>状況に合わせる: <%= (@disp_data[:tactics][:flexible]).to_i %></div>
            <div>警戒する: <%= (@disp_data[:tactics][:wary]).to_i %></div>
            <div class="m-2">警戒属性:
              <div>打: <%= (@disp_data[:wary][0]).to_i %></div>
              <div>投: <%= (@disp_data[:wary][1]).to_i %></div>
              <div>極: <%= (@disp_data[:wary][2]).to_i %></div>
            </div>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2 class="text-center">スタイル設定</h2>
          <div class="m-2">
            <%= form_with url: tiramon_set_style_path(id: @tiramon), method: :post, local: true do %>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">勘</div>
                </div>
                <%= text_field_tag :intuition, (@disp_data[:tactics][:intuition]).to_i, class: "form-control", placeholder: "0-100", size: 10 %>
              </div>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">研究</div>
                </div>
                <%= text_field_tag :study, (@disp_data[:tactics][:study]).to_i, class: "form-control", placeholder: "0-100", size: 10 %>
              </div>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">状況</div>
                </div>
                <%= text_field_tag :flexible, (@disp_data[:tactics][:flexible]).to_i, class: "form-control", placeholder: "0-100", size: 10 %>
              </div>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">警戒</div>
                </div>
                <%= text_field_tag :wary, (@disp_data[:tactics][:wary]).to_i, class: "form-control", placeholder: "0-100", size: 10 %>
              </div>
              <%= button_tag type: "submit", class: "btn btn-primary w-100 mt-2" do %>
                スタイル設定
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2 class="text-center">警戒設定</h2>
          <div>
            <%= form_with url: tiramon_set_wary_path(id: @tiramon), method: :post, local: true do %>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">打</div>
                </div>
                <%= text_field_tag :wary_0, (@disp_data[:wary][0]).to_i, class: "form-control", placeholder: "0-100", size: 10 %>
              </div>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">投</div>
                </div>
                <%= text_field_tag :wary_1, (@disp_data[:wary][1]).to_i, class: "form-control", placeholder: "0-100", size: 10 %>
              </div>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">極</div>
                </div>
                <%= text_field_tag :wary_2, (@disp_data[:wary][2]).to_i, class: "form-control", placeholder: "0-100", size: 10 %>
              </div>
              <%= button_tag type: "submit", class: "btn btn-primary w-100 mt-2" do %>
                警戒設定
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2 class="text-center">戦い方</h2>
          <div class="m-2">
            <%= link_to tiramon_edit_move_path(id: @tiramon, mode: "easy"), class: "btn btn-primary w-100" do %>
              戦い方設定画面へ
            <% end %>
          </div>
          <div class="m-2">
            <%= link_to tiramon_edit_move_path(id: @tiramon), class: "btn btn-primary w-100" do %>
              戦い方設定(詳細)
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="tweet-container">
    <div class="hukidasi word-break">
      <h1>キャリア設定</h1>
      <h5>試合が決定すると、試合後までキャリア設定はできません。</h5>
      <div class="d-flex flex-row flex-wrap">

        <div class="hukidasi m-2">
          <h2 class="text-center">名前変更</h2>
          <div class="m-2">
            <%= form_with url: tiramon_rename_path(id: @tiramon), method: :post, local: true do %>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">名前</div>
                </div>
                <%= text_field_tag :name, @disp_data[:name], class: "form-control", placeholder: "1-12文字", size: 12, maxlength: 12 %>
              </div>
              <%= button_tag type: "submit", class: "btn btn-warning w-100 mt-2"+disabled_2, disabled: @adjust, data: { confirm: "名前を変更しますか？\n名前変更には#{Constants::TIRAMON_RENAME_PRICE}vaかかります！" } do %>
                名前変更<br />
                <%= Constants::TIRAMON_RENAME_PRICE %>va
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2 class="text-center">出場/欠場変更</h2>
          <div class="m-2">
            <%= form_with url: tiramon_set_entry_path(id: @tiramon), method: :post, local: true do %>
              <div class="input-group mt-2">
                <%= select_tag :entry, options_for_select([["欠場", false], ["出場", true]], selected: @tiramon.entry), class: "form-control" %>
              </div>
              <%= button_tag type: "submit", class: "btn btn-warning w-100 mt-2"+disabled_2, disabled: @adjust, data: { confirm: "出場/欠場を変更しますか？\n階級変更には#{Constants::TIRAMON_CLASS_CHANGE_PRICE}vaかかります！" } do %>
                出場/欠場変更<br />
                <%= Constants::TIRAMON_CLASS_CHANGE_PRICE %>va
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="hukidasi m-2">
          <h2 class="text-center">別の道を歩く</h2>
          <div class="m-2">
            <%= link_to tiramon_release_path(id: @tiramon), method: :post, class: "btn btn-danger w-100 mt-2"+disabled_2, data: { confirm: "チラモンをにがしますか？\nにがしたチラモンには二度と会えません！" } do %>
              チラモンをにがす
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="tweet-container">
    <div class="hukidasi word-break">
      <h1>武者修行</h1>

      <div class="d-flex flex-row flex-wrap">

        <div class="hukidasi d-flex flex-column m-2">
          <h2 class="text-center">修行進捗</h2>
          <% if @tiramon.can_adventure? %>
            <div class="content m-2">修行できます！</div>
          <% else %>
            <div class="content m-2">次に修行できるまで: <%= distance_of_time_in_words_to_now(@tiramon.adventure_time) %></div>
          <% end %>
        </div>

        <% levels = ["チャレンジバトル", "Lv1 チラレスの黎明", "Lv2 チラレスの太陽", "Lv3 チラレスの黄昏", "Lv4 陽はまた昇る"]%>
        <% TiramonEnemy.all.group(:enemy_class).select(:enemy_class).map do |el| %>
          <% if el.present? %>
            <% if el.enemy_class <= 1 or @adventure_data[:level][:"#{(el.enemy_class - 1).to_s}"] == true %>
              <div class="hukidasi d-flex flex-column m-2">
                <h2 class="text-center"><%= levels[el.enemy_class] %></h2>
                <% TiramonEnemy.all.where(enemy_class: el.enemy_class).group(:stage).select(:stage).map do |es| %>
                  <div class="m-2">
                    <% if es.stage == 0 or @adventure_data[:stage][:"#{(es.stage - 1).to_s}"] == true %>
                      <%= link_to tiramon_adventure_path(id: @tiramon, enemy_class: el.enemy_class, stage: es.stage), class: "btn btn-primary w-100" do %>
                        <%= Constants::TIRAMON_ADVENTURE_STAGES[es.stage] %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>

      </div>

    </div>
  </div>


  <div class="tweet-container">
    <div class="hukidasi word-break">
      <h1>遺伝情報</h1>

      <div class="hukidasi word-break m-2">
        <h2 class="text-center">継承</h2>
        <% star = ["☆☆☆", "★☆☆", "★★☆", "★★★"] %>
        <% color = ["badge-primary", "badge-secondary", "badge-warning", "badge-danger"] %>
        <div class="d-flex flex-row flex-wrap">
        <% @inherit.each do |e| %>
          <div class="badge badge-pill <%= color[e[1]] %> text-big m-1"><%= e[0] %> <%= star[e[1]] %></div>
        <% end %>
        </div>
      </div>


      <div class="hukidasi word-break m-2">
        <h2 class="text-center">血統</h2>
        <% p = @tiramon.getPedigree %>
        <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="hukidasi m-1">
            <div class="d-flex flex-column align-items-center">
              <div class="text-big m-1">[<%= @tiramon.getFactorName %>]</div>
              <div class="m-1"><%= @disp_data[:name] %></div>
            </div>
          </div>
          <div class="">
            <div class="d-flex flex-column w-100">
              <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="hukidasi m-1">
                  <div class="d-flex flex-column align-items-center">
                    <div class="text-big m-1">[<%= p[0][0][0] %>]</div>
                    <div class="m-1"><%= p[0][0][1] %></div>
                  </div>
                </div>
                <div class="">
                  <div class="d-flex flex-column">
                    <div class="hukidasi m-1">
                      <div class="d-flex flex-column align-items-center">
                        <div class="text-big m-1">[<%= p[0][1][0][0] %>]</div>
                        <div class="m-1"><%= p[0][1][0][1] %></div>
                      </div>
                    </div>
                    <div class="hukidasi m-1">
                      <div class="d-flex flex-column align-items-center">
                        <div class="text-big m-1">[<%= p[0][1][1][0] %>]</div>
                        <div class="m-1"><%= p[0][1][1][1] %></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="hukidasi">
                  <div class="d-flex flex-column align-items-center">
                    <div class="text-big m-1">[<%= p[1][0][0] %>]</div>
                    <div class="m-1"><%= p[1][0][1] %></div>
                  </div>
                </div>
                <div class="">
                  <div class="d-flex flex-column">
                    <div class="hukidasi m-1">
                      <div class="d-flex flex-column align-items-center">
                        <div class="text-big m-1">[<%= p[1][1][0][0] %>]</div>
                        <div class="m-1"><%= p[1][1][0][1] %></div>
                      </div>
                    </div>
                    <div class="hukidasi m-1">
                      <div class="d-flex flex-column align-items-center">
                        <div class="text-big m-1">[<%= p[1][1][1][0] %>]</div>
                        <div class="m-1"><%= p[1][1][1][1] %></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<% end %>

<% if user_signed_in? && current_user.id == 1 %>
  <div class="tweet-container">
    <div class="hukidasi">因子ビューア:
      <div class="m-2">
        因子: [<%= @tiramon.factor_name %>]
      </div>
      <div class="m-2">
        <% f = @tiramon.getFactor %>
        <div class="">level = <%= (f.dot(TiramonFactor.find_by(key: "level").getFactor) * 100).to_i %>%</div>
        <div class="">physique = <%= (f.dot(TiramonFactor.find_by(key: "physique").getFactor) * 100).to_i %>%</div>
        <div class="">height = <%= (f.dot(TiramonFactor.find_by(key: "height").getFactor) * 100).to_i %>%</div>
        <div class="">vital_hp = <%= (f.dot(TiramonFactor.find_by(key: "vital_hp").getFactor) * 100).to_i %>%</div>
        <div class="">vital_mp = <%= (f.dot(TiramonFactor.find_by(key: "vital_mp").getFactor) * 100).to_i %>%</div>
        <div class="">vital_sp = <%= (f.dot(TiramonFactor.find_by(key: "vital_sp").getFactor) * 100).to_i %>%</div>
        <div class="">recovery_hp = <%= (f.dot(TiramonFactor.find_by(key: "recovery_hp").getFactor) * 100).to_i %>%</div>
        <div class="">recovery_mp = <%= (f.dot(TiramonFactor.find_by(key: "recovery_mp").getFactor) * 100).to_i %>%</div>
        <div class="">recovery_sp = <%= (f.dot(TiramonFactor.find_by(key: "recovery_sp").getFactor) * 100).to_i %>%</div>
        <div class="">speed = <%= (f.dot(TiramonFactor.find_by(key: "speed").getFactor) * 100).to_i %>%</div>
        <div class="">intuition = <%= (f.dot(TiramonFactor.find_by(key: "intuition").getFactor) * 100).to_i %>%</div>
        <div class="">attack_0 = <%= (f.dot(TiramonFactor.find_by(key: "attack_0").getFactor) * 100).to_i %>%</div>
        <div class="">attack_1 = <%= (f.dot(TiramonFactor.find_by(key: "attack_1").getFactor) * 100).to_i %>%</div>
        <div class="">attack_2 = <%= (f.dot(TiramonFactor.find_by(key: "attack_2").getFactor) * 100).to_i %>%</div>
        <div class="">defense_0 = <%= (f.dot(TiramonFactor.find_by(key: "defense_0").getFactor) * 100).to_i %>%</div>
        <div class="">defense_1 = <%= (f.dot(TiramonFactor.find_by(key: "defense_1").getFactor) * 100).to_i %>%</div>
        <div class="">defense_2 = <%= (f.dot(TiramonFactor.find_by(key: "defense_2").getFactor) * 100).to_i %>%</div>

      </div>
    </div>

    <div class="tweet-container">
      <div class="hukidasi m-2">遺伝:
        <ul>
          <% if 20 <= @disp_data[:level] %>
            <li>因子: [<%= @tiramon.getFactorName %>]</li>
          <% else %>
            <li>因子はレベル20で判明します</li>
          <% end %>
          <li>血統</li>
          <% p = @tiramon.getPedigree %>
          <ul>
            <li>[<%= p[0][0][0] %>] <%= p[0][0][1] %></li>
            <ul>
              <li>[<%= p[0][1][0][0] %>] <%= p[0][1][0][1] %></li>
              <li>[<%= p[0][1][1][0] %>] <%= p[0][1][1][1] %></li>
            </ul>
              <li>[<%= p[1][0][0] %>] <%= p[1][0][1] %></li>
              <ul>
                <li>[<%= p[1][1][0][0] %>] <%= p[1][1][0][1] %></li>
                <li>[<%= p[1][1][1][0] %>] <%= p[1][1][1][1] %></li>
              </ul>
          </ul>
        </ul>
      </div>
    </div>

  </div>
<% end %>

<%= render partial: "/layouts/tiramon_nav" %>
