<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <% if @maximum_name_length %>
      <em>(<%= @maximum_name_length %> characters maximum)</em>
    <% end %><br />
    <%= f.text_field :name, maxlength: 16 %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <% if @maximum_description_length %>
      <em>(<%= @maximum_description_length %> characters maximum)</em>
    <% end %><br />
    <%= f.text_area :description, maxlength: 140 %>
  </div>

  <div class="actions">
    <div class="form-group">
      <%= f.submit "Sign up" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
