<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @follow.user_id %>
</p>

<p>
  <strong>Target:</strong>
  <%= @follow.target_id %>
</p>

<p>
  <strong>Create datetime:</strong>
  <%= @follow.create_datetime %>
</p>

<%= link_to 'Edit', edit_admin_follow_path(@follow) %> |
<%= link_to 'Back', admin_follows_path %>
