<div class="title">検索</div>

<div id="tweet-form" class="tweet-form">
  <%= form_tag("/search", method: "get", class: "form-horizontal", role: "form") do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "検索ワード" %>
      <div class="input-group-append">
        <%= submit_tag "検索", class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>

<ul class="nav nav-pills nav-justified bg-light">
  <li class="nav-item">
    <a href="#users" class="nav-link active" data-toggle="tab">ユーザー</a>
  </li>
  <li class="nav-item">
    <a href="#tags" class="nav-link" data-toggle="tab">タグ</a>
  </li>
  <li class="nav-item">
    <a href="#tweets" class="nav-link" data-toggle="tab">つぶやき</a>
  </li>
</ul>

<div class="tab-content">
  <div id="users" class="tab-pane active">
    <h1>ユーザー検索</h1>
    <%= render partial: "/layouts/users", locals: { users: @users } %>
  </div>

  <div id="tags" class="tab-pane">
    <h1>タグ検索</h1>
    <%= render partial: "/layouts/tweets_async", locals: { tweets: @tweets_tag, show_list: false, show_parent: true } %>
  </div>

  <div id="tweets" class="tab-pane">
    <h1>つぶやき検索</h1>
    <%= render partial: "/layouts/tweets_async", locals: { tweets: @tweets_tweet, show_list: false, show_parent: true } %>
  </div>
</div>
