<div class="title">検索</div>

<div id="tweet-form" class="tweet-form">
  <%= form_tag("/search", method: "get", class: "form-horizontal", role: "form") do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "検索ワード" %>
      <div class="input-group-append">
        <%= submit_tag "検索", class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>

<div class="users-mode-changer-container">
  <div class="users-mode-changer-item text-big"><button id="btn-users" class="btn btn-outline-secondary">ユーザー</button></div>
  <div class="users-mode-changer-item text-big"><button id="btn-tags" class="btn btn-outline-secondary">タグ</button></div>
  <div class="users-mode-changer-item text-big"><button id="btn-tweets" class="btn btn-outline-secondary">つぶやき</button></div>
</div>

<div id="users" class="view">
  <h1>ユーザー検索</h1>
  <%= render partial: "/layouts/users", locals: { users: @users } %>
</div>

<div id="tags" class="view">
  <h1>タグ検索</h1>
  <%= render partial: "/layouts/tweets", locals: { tweets: @tweets_tag, show_list: false, show_parent: true } %>
</div>

<div id="tweets" class="view">
  <h1>つぶやき検索</h1>
  <%= render partial: "/layouts/tweets", locals: { tweets: @tweets_tweet, show_list: false, show_parent: true } %>
</div>

<script>
  $(function () {

    $(".view").hide();
    $("#users").show();

    $("#btn-users").click(function () {
      $(".view").hide();
      $("#users").show();
    });

    $("#btn-tags").click(function () {
      $(".view").hide();
      $("#tags").show();
    });

    $("#btn-tweets").click(function () {
      $(".view").hide();
      $("#tweets").show();
    });

  });
</script>
