<h1>Administration</h1>
<p>チラウラリアン 管理ページ</p>

<%= link_to 'Admin', admin_admins_path %>
<%= link_to 'User', admin_users_path %>
<%= link_to 'Follow', admin_follows_path %>
<%= link_to 'Tweet', admin_tweets_path %>
<%= link_to 'Good', admin_goods_path %>
<%= link_to 'Bad', admin_bads_path %>
