<%= form_for(tweet, html: {name:"form", class: "form-horizontal", role: "form"}) do |f| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id  %>

  <div class="form-group">
    <div class="col-sm-12">
      <%= f.file_field :image %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_area :content, class: "width-full", maxlength: 140 %>
    </div>
  </div>

  <div class="actions">
    <div class="form-group">
      <div class="col-sm-offset-10 col-sm-2">
        <%= f.submit "つぶやく", class: "btn btn-primary width-full" %>
      </div>
    </div>
  </div>

<% end %>
