<div class="tweet-container">

  <% tweets.each do |tweet| %>
    <div class="tweet">

      <%= link_to tweet.user, class: "link-item" do %>
        <%= image_tag tweet.user.avatar.url(:thumb), class: "user-img" %>
      <% end %>

      <%= link_to tweet, class: "link-item" do %>
        <div class="hukidasi">

          <% if tweet.parent_id? && tweet.parent_id != 0 %>
            <div class="content-desc">
              <% if !Tweet.find_by(id: tweet.parent_id).nil? %>
                <div class="parent">
                  <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> <%= Tweet.find(tweet.parent_id).content %>
                </div>
              <% else %>
                <div class="parent">
                  <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> 削除されました
                </div>
              <% end %>
            </div>
          <% end %>

          <div class="content">
            <% if tweet.image? %>
              <div class="content-image">
                <%= image_tag tweet.image.url(:thumb) %>
              </div>
            <% end %>
            <div class="content-text">
              <%= tweet.content %>
            </div>
          </div>
          <div class="content-desc">
            <div class="name"><%= tweet.user.name %></div>
            <!--<div class="datetime"><%= tweet.create_datetime.strftime("%Y/%m/%d %H:%M:%S") %></div>-->
          </div>
          <div class="content-desc right">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <%= Tweet.where(parent_id: tweet.id).size %> |
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <%= Good.where(target_id: tweet.id).size %>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>

</div>
