
<% if params[:mode] == "hash" %>
  <div id="tweet-form" class="tweet-form">
    <%= form_tag("/tweets", method: "get", class: "form-horizontal", role: "form") do %>
      <%= hidden_field_tag :mode, "hash" %>
      <div class="form-group">
        <div class="col-sm-10"><%= text_field_tag :hash, params[:hash], class: "form-control", placeholder: "ハッシュ検索" %></div>
        <div class="col-sm-2"><%= submit_tag "Search", class: "btn btn-primary width-full" %></div>
      </div>
    <% end %>
  </div>
<% end %>

<div id="tweet-form" class="tweet-form">
  <p class="prompt">今なにしてる？………ごめん。</p>
  <%= render "form", tweet: @new_tweet %>
</div>

<%= render partial: "/layouts/tweets", locals: { tweets: @tweets, show_list: false, show_parent: true } %>
