<div id="tweet-form" class="tweet-form">
  <h2>今なにしてる？………ごめん。</h2>

  <% if params[:mode] == "tag" %>
    <% default_value = " ##{params[:tag]}" %>
  <% else %>
    <% default_value = "" %>
  <% end %>

  <%= render partial: "/layouts/form", locals: { tweet: @new_tweet, value: default_value } %>
</div>

<div class="tools">
  <a class="link-item" id="btn-hot">
    <div class="control-button accent">
      <span class="glyphicon glyphicon-fire full center" aria-hidden="true"></span>
    </div>
  </a>
  <a class="link-item" id="btn-recent">
    <div class="control-button accent">
      <span class="glyphicon glyphicon-time full center" aria-hidden="true"></span>
    </div>
  </a>
  <a class="link-item" id="btn-search">
    <div class="control-button accent">
      <span class="glyphicon glyphicon-search full center" aria-hidden="true"></span>
    </div>
  </a>
</div>

<div id="tag-hot" class="tag-form">
  <h3>話題のタグ</h3>
  <div class="tag-container">
    <% @hot_tags.each do |tag| %>
      <div class="tag">
        <%= link_to "##{tag.tag_string}", tweets_path(mode: "tag", tag: tag.tag_string) %>
      </div>
    <% end %>
  </div>
</div>

<div id="tag-recent" class="tag-form">
  <h3>最近使ったタグ</h3>
  <div class="tag-container">
    <% @recent_tags.each do |tag| %>
      <div class="tag">
        <%= link_to "##{tag.tag_string}", tweets_path(mode: "tag", tag: tag.tag_string) %>
      </div>
    <% end %>
  </div>

</div>

<div id="tag-search" class="tag-form">
  <h3>タグ検索</h3>
  <%= form_tag("/tweets", method: "get", class: "form-horizontal", role: "form") do %>
    <%= hidden_field_tag :mode, "tag" %>
    <div class="col-sm-12">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">#</span>
          <%= text_field_tag :tag, params[:tag], class: "form-control", placeholder: "タグ" %>
          <span class="input-group-btn">
            <%= submit_tag "タグ検索", class: "btn btn-default" %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: "/layouts/tweets", locals: { tweets: @tweets, show_list: false, show_parent: true } %>

<script>
  $(function () {
      $("#btn-hot").click(function () {
          $("#tag-hot").toggle();
      });

      $("#btn-recent").click(function () {
          $("#tag-recent").toggle();
      });

      $("#btn-search").click(function () {
          $("#tag-search").toggle();
      });
  });
</script>
