<% if @root_tweets.any? %>
  <%= render partial: "/layouts/tweets", locals: { tweets: @root_tweets, show_list: true, show_parent: false } %>
<% end %>

<div class="tweet-container">

  <div class="tweet-large">

    <%= link_to @tweet.user, class: "link-item" do %>
      <% if @tweet.user.present? %>
        <% if @tweet.avatar? %>
          <%= image_tag @tweet.avatar.url(:thumb), class: "user-img image_x64" %>
        <% else %>
          <%= image_tag @tweet.user.avatar.url(:thumb), class: "user-img image_x64" %>
        <% end %>
      <% else %>
        <%= image_tag "/images/mystery-person.png", class: "user-img image_x64" %>
      <% end %>
    <% end %>

    <div class="hukidasi-large text-big">

      <% if user_signed_in? %>
        <div class="content-control">
          <div>
            <% if @gooded.present? %>
              <%= form_for(@gooded, method: :delete) do |form| %>
                <%= form.hidden_field :tweet_id, value: @tweet.id %>
                <%= form.submit "Good!解除", class: "btn btn-warning" %>
              <% end %>
            <% else %>
            <%= form_for(@good) do |form| %>
              <%= form.hidden_field :tweet_id, value: @tweet.id %>
              <%= form.submit "Good!", class: "btn btn-primary" %>
            <% end %>
            <% end %>
          </div>

          <div>
            <% if @baded.present? %>
            <%= form_for(@baded, method: :delete) do |form| %>
              <%= form.hidden_field :tweet_id, value: @tweet.id %>
              <%= form.submit "Bad!解除", class: "btn btn-warning" %>
            <% end %>
            <% else %>
              <%= form_for(@bad) do |form| %>
                <%= form.hidden_field :tweet_id, value: @tweet.id %>
                <%= form.submit "Bad!", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>

          <div>
            <% if @bookmarked.present? %>
            <%= form_for(@bookmarked, method: :delete) do |form| %>
              <%= form.hidden_field :tweet_id, value: @tweet.id %>
              <%= form.submit "ブックマーク解除", class: "btn btn-warning" %>
            <% end %>
            <% else %>
              <%= form_for(@bookmark) do |form| %>
                <%= form.hidden_field :tweet_id, value: @tweet.id %>
                <%= form.submit "ブックマーク", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>

          <div>
            <% if @tweet.user_id == current_user.id %>
              <%= link_to "", @tweet, method: :delete, class: "btn btn-danger glyphicon glyphicon-trash", data: { confirm: "本当に削除しますか？" } %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="content">
        <div class="content-text word-break">
          <%= auto_link(@tweet.content.encode!(xml: :text), { url_target: :target_blank, hashtag_url_base: "/tweets?mode=tag&tag=" }).html_safe %>
        </div>
      </div>

      <% if @tweet.image? %>
        <div class="content-image">
          <%= link_to @tweet.image.url(:large), class: "link-item" do %>
            <%= image_tag @tweet.image.url(:thumb_large), class: "fit" %>
          <% end %>
        </div>
      <% end %>

      <div class="content-desc">
        <div class="content-desc-right"><%= time_ago_in_words(@tweet.create_datetime) %></div>
      </div>

      <div class="content-desc">
        <% if @tweet.user.present? %>
          <div class="content-desc-left"><%= @tweet.user.name %></div>
        <% else %>
          <div class="content-desc-left">削除されたユーザー</div>
        <% end %>

        <div class="space"></div>

        <div class="content-desc-right content-desc-flex-row-right">
          <div class="count-comment"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <%= @tweet.res_count %></div>
          <div class="space"> | </div>
          <div class="count-good"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <%= @tweet.good_count %></div>
          <div class="space"> | </div>
          <div class="count-bad"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <%= - @tweet.bad_count %></div>
          <div class="space"> | </div>
          <div class="count-bookmark"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> <%= @tweet.bookmark_count %></div>
        </div>

      </div>

      <div class="good-list">
        <% Good.where(tweet_id: @tweet.id).order(id: :desc).each do |good| %>
          <% if good.user.present? %>
            <%= image_tag good.user.avatar.url(:thumb), class: "good-user-img" %>
          <% else %>
            <%= image_tag "/images/mystery-person.png", class: "user-img" %>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>

</div>

<div id="tweet-form" class="tweet-form">
  <h2>このつぶやきにレス</h2>
  <%= render partial: "/layouts/form", locals: { tweet: @new_tweet, value: "" } %>
</div>

<%= render partial: "/layouts/tweets", locals: { tweets: @res_tweets, show_list: false, show_parent: false } %>
