<% if @root_tweets.any? %>
  <%= render partial: "/layouts/tweets", locals: { tweets: @root_tweets, show_list: true, show_parent: false } %>
<% end %>

<div class="tweet-container">

  <div class="tweet-large">

    <%= link_to @tweet.user, class: "link-item" do %>
      <% if @tweet.user.present? %>
        <% if @tweet.avatar? %>
          <%= image_tag @tweet.avatar.url(:thumb), class: "user-img image_x64" %>
        <% else %>
          <%= image_tag @tweet.user.avatar.url(:thumb), class: "user-img image_x64" %>
        <% end %>
      <% else %>
        <%= image_tag "/images/broken-image.png", class: "user-img image_x64" %>
      <% end %>
    <% end %>

    <div class="hukidasi-large text-big">

      <% if user_signed_in? %>
        <div class="content-control">

          <div>
            <% if @bookmarked.present? %>
            <%= form_for(@bookmarked, method: :delete) do |form| %>
              <%= form.hidden_field :tweet_id, value: @tweet.id %>
              <%= form.button type: "submit", class: "btn btn-primary rounded-pill m-1" do %>
                <i class="fas fa-bookmark"></i>
              <% end %>
            <% end %>
            <% else %>
              <%= form_for(@bookmark) do |form| %>
                <%= form.hidden_field :tweet_id, value: @tweet.id %>
                <%= form.button type: "submit", class: "btn btn-light rounded-pill m-1" do %>
                  <i class="fas fa-bookmark"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <div>
            <% if @gooded.present? %>
              <%= form_for(@gooded, method: :delete) do |form| %>
                <%= form.hidden_field :tweet_id, value: @tweet.id %>
                <%= form.button type: "submit", class: "btn btn-primary rounded-pill m-1" do %>
                  <i class="fas fa-thumbs-up"></i>
                <% end %>
              <% end %>
            <% else %>
            <%= form_for(@good) do |form| %>
              <%= form.hidden_field :tweet_id, value: @tweet.id %>
              <%= form.button type: "submit", class: "btn btn-light rounded-pill m-1" do %>
                <i class="fas fa-thumbs-up"></i>
              <% end %>
            <% end %>
            <% end %>
          </div>

          <div>
            <% if @baded.present? %>
            <%= form_for(@baded, method: :delete) do |form| %>
              <%= form.hidden_field :tweet_id, value: @tweet.id %>
              <%= form.button type: "submit", class: "btn btn-primary rounded-pill m-1" do %>
                <i class="fas fa-thumbs-down"></i>
              <% end %>
            <% end %>
            <% else %>
              <%= form_for(@bad) do |form| %>
                <%= form.hidden_field :tweet_id, value: @tweet.id %>
                <%= form.button type: "submit", class: "btn btn-light rounded-pill m-1" do %>
                  <i class="fas fa-thumbs-down"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <div>
            <% if @tweet.user_id == current_user.id %>
              <%= link_to @tweet, method: :delete, class: "btn btn-danger rounded-pill m-1", data: { confirm: "本当に削除しますか？" } do %>
                <i class="fas fa-trash"></i>
              <% end %>
            <% end %>
          </div>
          
        </div>
      <% end %>

      <div class="content">
        <div class="content-text word-break">
          <%= auto_link_hashtags(auto_link_urls(html_escape(@tweet.content), target_blank: true), hashtag_url_base: "/tweets?mode=tag&tag=").html_safe %>
        </div>
      </div>

      <% if @tweet.image? %>
        <div class="content-image">
          <%= link_to @tweet.image.url(:large), class: "link-item" do %>
            <%= image_tag @tweet.image.url(:thumb_large), class: "fit" %>
          <% end %>
        </div>
      <% end %>

      <div class="content-desc">
        <div class="text-right"><%= time_ago_in_words(@tweet.create_datetime) %></div>
      </div>

      <div class="content-desc">
        <% if @tweet.user.present? %>
          <div class="content-desc-left"><%= @tweet.user.name %></div>
        <% else %>
          <div class="content-desc-left">削除されたユーザー</div>
        <% end %>

        <div class="space"></div>

        <div class="content-desc-right content-desc-flex-row-right">
          <div class="count-bookmark"><i class="fas fa-bookmark"></i> <%= @tweet.bookmark_count %></div>
          <div class="space"> | </div>
          <div class="count-comment"><i class="fas fa-comments"></i> <%= @tweet.res_count %></div>
          <div class="space"> | </div>
          <div class="count-good"><i class="fas fa-thumbs-up"></i>  <%= @tweet.good_count %></div>
          <div class="space"> | </div>
          <div class="count-bad"><i class="fas fa-thumbs-down"></i> <%= - @tweet.bad_count %></div>
          <div class="space"> | </div>
          <div class="count-comment"><i class="fas fa-layer-group"></i> <%= @tweet.context %></div>
        </div>

      </div>

      <div class="good-list">
        <% Good.where(tweet_id: @tweet.id).order(id: :desc).each do |good| %>
          <% if good.user.present? %>
            <%= image_tag good.user.avatar.url(:thumb), class: "good-user-img" %>
          <% else %>
            <%= image_tag "/images/broken-image.png", class: "good-user-img" %>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>

</div>

<div id="tweet-form" class="tweet-form">
  <div class="prompt">このつぶやきにレス</div>
  <%= render partial: "/layouts/form", locals: { tweet: @new_tweet, value: "" } %>
</div>

<%= render partial: "/layouts/tweets", locals: { tweets: @res_tweets, show_list: false, show_parent: false } %>
