<h1>【<%= @number %>】<%= @name %></h1>
<h5>（<%= Time.current.strftime("%Y年%m月%d日 %H:%M:%S") %>時点の情報です）</h5>
<h2>現在の景気 <%= @economy %></h2>

<div class="m-2">
  <h2>現在の購入金額<%= @price_buy %>va</h2>
  <h2>現在の売却金額<%= @price_sell %>va</h2>
</div>

<% if user_signed_in? %>
  <h3>所持株数 <%= @stock.number %>株</h3>
  <h3>所持VARTH <%= @user_points %>va</h3>
  <p>最大で<%= @user_points / @price_buy %>株買うことができます。</p>
  <p><%= @stock.number %>株売却すると<%= (@stock.number * @price_sell).to_i %>VARTHになります。</p>
<% end %>
