<div class="title">チラウラリア証券</div>
<div class="tweet-container list">
  <div class="hukidasi width-full">
    <h1>遊び方</h1>
    <p>株を買ったり売ったりすることができます。そして、株の値段はリアルタイムで変動します。</p>
    <p>つまり、株が安いときに購入して、株が高いときに売却すれば、その差額を儲けることができます。</p>
    <p>うまく売買して、億万長者を目指しましょう！</p>
    <br />
    <p>株式投資にはリスクがあります。自己責任でお楽しみください。</p>
  </div>
</div>
<div class="tweet-container list">
  <div class="hukidasi width-full">
    <h1>株の情報</h1>
    <h5>この情報は1分毎に自動更新されます。</h5>
    <div class="w-100 m-2">
      <%= javascript_include_tag "chartkick", "/js/highcharts.js" %>
      <%= line_chart stock_stock_log_path, id: "stock-chart", curve: false, points: false, min: nil, thousands: ",", suffix: "va", refresh: 60, library: { chart: { backgroundColor: "rgba(0,0,0,0)" }, time: { useUTC: false }, plotOptions: { series: { animation: false } } }, defer: true %>
    </div>

    <div>
      <%= render_async stock_info_path, interval: 60000, retry_count: 5, retry_delay: 60000, error_message: "Offline" do %>
        <i class="fa fa-spinner fa-pulse"></i>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="row m-4">
        <div class="col-md m-2">
          <%= form_with url: stock_purchase_path, method: :post, local: true do %>
            <div class="input-group">
              <%= text_field_tag :point, "", class: "form-control", placeholder: "株数", size: 10 %>
              <div class="input-group-append">
                <%= button_tag type: "submit", class: "change-disabled-button btn btn-info" do %>
                  <span>購入する</span>
                  <i class="fa fa-spinner fa-pulse"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md m-2">
          <%= form_with url: stock_sale_path, method: :post, local: true do %>
            <div class="input-group">
              <%= text_field_tag :point, "", class: "form-control", placeholder: "株数", size: 10 %>
              <div class="input-group-append">
                <%= button_tag type: "submit", class: "change-disabled-button btn btn-danger" do %>
                  <span>売却する</span>
                  <i class="fa fa-spinner fa-pulse"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <div class="m-2">
        <h5>購入履歴</h5>
        <div>
          <% @stock_trade_log.map do |log| %>
            <div class="d-flex flex-row m-2">
              <div class="mx-2"><%= log.create_datetime.strftime("%Y年%m月%d日 %H:%M:%S") %></div>
              <div class="mx-2"><%= log.price %>va</div>
              <% if 0 < log.amount %>
                <div class="mx-2">購入</div>
                <div class="mx-2"><%= log.amount %>株</div>
                <div class="mx-2"><%= log.price * log.amount %>va</div>
              <% else %>
                <div class="mx-2">売却</div>
                <div class="mx-2"><%= -log.amount %>株</div>
                <div class="mx-2"><%= log.price * -log.amount %>va</div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<%= content_for :render_async %>
