<div class="user-container">

  <div class="user">

    <div class="user-info-left">
      <%= image_tag @user.avatar.url(:thumb_large), class: "user-img-xlarge" %>
    </div>

    <div class="user-info-right">

      <% if user_signed_in? %>
        <div class="user-control">
          <% if @followed.present? %>
            <%= form_for(@followed, method: :delete) do |form| %>
              <%= form.hidden_field :target_id %>
              <%= form.submit "フォロー解除", class: "btn btn-danger" %>
            <% end %>
          <% else %>
            <%= form_for(@follow) do |form| %>
              <%= form.hidden_field :target_id %>
              <%= form.submit "フォロー", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="user-name text-big">
        <div>[<%= @user.id %>] <%= @user.name %></div>
      </div>

      <div class="user-status">
        <div class="user-status-category">
          <div class="user-status-category-icon">[接続]</div>
          <div class="user-status-element">
            <div><%= Follow.where(user_id: @user.id).size %> フォロー</div>
            <div><%= Follow.where(target_id: @user.id).size %> フォロワー</div>
          </div>
        </div>
        <div class="user-status-category">
          <div class="user-status-category-icon">[発信]</div>
          <div class="user-status-element">
            <div><%= Tweet.where(user_id: @user.id).size %> ツイート</div>
            <div><%= Good.where(user_id: @user.id).size %> グッド</div>
          </div>
        </div>
        <div class="user-status-category">
          <div class="user-status-category-icon">[受信]</div>
          <div class="user-status-element">
            <div><%= Tweet.where(user_id: @user.id).sum(:res_count) %> レス</div>
            <div><%= Tweet.where(user_id: @user.id).sum(:good_count) %> グッド</div>
          </div>
        </div>
      </div>

      <div class="user-desc">
        <div class="word-break"><%= @user.description %></div>
      </div>

      <%= render partial: "/layouts/tags", locals: { tags: @tags } %>

    </div>

  </div>

</div>

<%= render partial: "/layouts/tweets", locals: { tweets: @user_tweets, show_list: false, show_parent: true } %>

<%= link_to "Back", root_path %>
