<div class="user-container">

  <div class="user">

    <div class="user-info-left">
      <%= image_tag @user.avatar.url(:thumb_large), class: "user-img-xlarge" %>
    </div>

    <div class="user-info-right">

      <% if user_signed_in? %>
        <div class="user-control">
          <% if @followed.nil? %>
            <%= form_for(@follow) do |form| %>
              <%= form.hidden_field :target_id %>
              <%= form.submit "フォロー", class: "btn btn-primary" %>
            <% end %>
          <% else %>
            <%= form_for(@followed, method: :delete) do |form| %>
              <%= form.hidden_field :target_id %>
              <%= form.submit "フォロー解除", class: "btn btn-danger" %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="user-name text-big">
        <div>[<%= @user.id %>] <%= @user.name %></div>
      </div>

      <div class="user-desc">
        <div>
          [接続]
          <%= Follow.where(user_id: @user.id).size %> フォロー |
          <%= Follow.where(target_id: @user.id).size %> フォロワー
        </div>
        <div>
          [発信]
          <%= Tweet.where(user_id: @user.id).size %> ツイート |
          <%= Good.where(user_id: @user.id).size %> グッド
        </div>
        <div>
          [受信] 
          <%= Tweet.where(user_id: @user.id).sum(:res_count) %> レス |
          <%= Tweet.where(user_id: @user.id).sum(:good_count) %> グッド
        </div>
      </div>

      <div class="user-desc">
        <div class="word-break"><%= @user.description %></div>
      </div>

    </div>

  </div>

</div>

<%= render partial: "/layouts/tweets", locals: { tweets: @user_tweets, show_list: false, show_parent: true } %>

<%= link_to "Back", root_path %>
