<%= form_with model:control do |f| %>
  <% if control.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(control.errors.count, "error") %> prohibited this control from being saved:</h2>

      <ul>
      <% control.errors.full_messages.map do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %>
    <%= f.text_field :key %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
