<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @tag.tweet_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @tag.user_id %>
</p>

<p>
  <strong>Tag string:</strong>
  <%= @tag.tag_string %>
</p>

<p>
  <strong>Create datetime:</strong>
  <%= @tag.create_datetime %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
