<div class="title">色当てゲーム「シロクロつけよう」</div>
<div class="tweet-container list">
  <div class="hukidasi width-full">
    <h1>遊び方</h1>
    <p>ランダムで「白」か「黒」が出てきます。どちらが出てくるかを予想して、見事当たれば掛け金の2倍をもらうことができます。</p>
    <p>外れた場合、掛け金は没収されてしまいます。</p>
  </div>
</div>

<% unless @play_str.nil? %>
  <div class="tweet-container list">
    <div class="hukidasi width-full">
      <div><%= @play_str %></div>
      <div><%= @result_str %></div>
    </div>
  </div>
<% end %>

<div class="tweet-container list">
  <div class="hukidasi width-full">
    <h3>所持VARTH <%= current_user.point.point %>va</h3>

    <%= form_with url: gambling_gambling_path, method: :post, local: true do %>
        <div class="row m-4">
          <div class="col">
            <%= text_field_tag :bet, "", class: "form-control", placeholder: "掛け金", size: 10 %>
          </div>
        </div>
        <div class="row m-4">
          <div class="col">
            <%= button_tag type: "submit", name: "color", value: "white", class: "change-disabled-button btn btn-light w-100", data: { disable: true } do %>
              <span>白</span>
              <i class="fa fa-spinner fa-pulse"></i>
            <% end %>
          </div>
          <div class="col">
            <%= button_tag type: "submit", name: "color", value: "black", class: "change-disabled-button btn btn-dark w-100", data: { disable: true } do %>
              <span>黒</span>
              <i class="fa fa-spinner fa-pulse"></i>
            <% end %>
          </div>
        </div>
    <% end %>

  </div>
</div>

<div class="title">殿堂入り</div>
<div class="users-container">
  <% if @hofs.blank? %>
    <div class="nothing">データがありません</div>
  <% end %>

  <% @hofs.map do |hof| %>

    <div class="users">
      <div>
        <%= link_to hof.user, class: "link-item-image" do %>
          <%= image_tag hof.user.avatar.url(:thumb), class: "user-img" %>
        <% end %>
      </div>

      <div class="users-info">
        <div class="users-name"><%= hof.user.name %></div>
        <div class="users-desc">配当金: <%= hof.point %>va</div>
      </div>
    </div>

  <% end %>

</div>
