<%= form_for(card_box) do |f| %>
  <% if card_box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card_box.errors.count, "error") %> prohibited this card_box from being saved:</h2>

      <ul>
      <% card_box.errors.full_messages.map do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.number_field :size %>
  </div>

  <div class="field">
    <%= f.label :create_datetime %>
    <%= f.datetime_select :create_datetime %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
