<%= form_for(mute) do |f| %>
  <% if mute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mute.errors.count, "error") %> prohibited this mute from being saved:</h2>

      <ul>
      <% mute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :target_id %>
    <%= f.number_field :target_id %>
  </div>

  <div class="field">
    <%= f.label :create_datetime %>
    <%= f.datetime_select :create_datetime %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
