<p id="notice"><%= notice %></p>

<h1>Goods</h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Target</th>
      <th>User</th>
      <th>Create datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goods.each do |good| %>
      <tr>
        <td><%= good.target_id %></td>
        <td><%= good.user_id %></td>
        <td><%= good.create_datetime %></td>
        <td><%= link_to 'Show', [:admin, good] %></td>
        <td><%= link_to 'Edit', edit_admin_good_path(good) %></td>
        <td><%= link_to 'Destroy', [:admin, good], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Good', new_admin_good_path %>
<%= link_to 'Return Administration', admin_index_path %>
