<%= form_with model: tweet, local: true, class: "form-horizontal" do |f| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %>
        prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.full_messages.map do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id %>

  <div class="form-group d-flex flex-row justify-content-between">
    <div class="">
      <%= f.file_field :image, class: "form-control-file" %>
    </div>
    <div class="">
      <div class="form-check">
        <%= f.check_box :nsfw, class: "form-check-input" %>
        <%= f.label :nsfw, class: "form-check-label" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">

      <%= f.text_field :content, id:"tweet-content-form", class: "form-control", maxlength: 140, value: value, placeholder: "つぶやきを入力してください", autocomplete: "off" %>

      <div class="input-group-append">
        <%= f.button type: "submit", class: "change-disabled-button btn btn-accent", data: { disable: true } do %>
          <span>つぶやく</span>
          <i class="fa fa-spinner fa-pulse"></i>
        <% end %>
      </div>

    </div>
    <small id="tweet-content-help" class="form-text text-right">0 / 140</small>
  </div>


  <div class="">
    <a class="tweet-addition btn btn-primary btn-sm w-100" data-toggle="collapse" href="#text" aria-expanded="false">
      <i class="fas fa-angle-double-down"> つぶやき詳細</i>
      <i class="fas fa-angle-double-up"> つぶやき詳細</i>
    </a>
  </div>
  <div class="collapse" id="text">
    <%= f.fields_for :text do |t| %>
      <div class="form-group mt-3">
        <%= t.text_area :content, id:"text-content-form", class: "form-control", maxlength: 10000, placeholder: "追加の長文を入力できます", autocomplete: "off" %>
        <small id="text-content-help" class="form-text text-right">0 / 10000</small>
      </div>
    <% end %>
  </div>

  <%= recaptcha_v3(action: 'tweet') %>

<% end %>

<script type="text/javascript">
  function showLength(str, max, resultid) {
    document.getElementById(resultid).innerHTML = str.length + " / " + max;
  }

  document.getElementById('tweet-content-form').oninput = function(){ showLength(document.getElementById('tweet-content-form').value, 140, 'tweet-content-help')};
  document.getElementById('text-content-form').oninput = function(){ showLength(document.getElementById('text-content-form').value, 10000, 'text-content-help')};
</script>
