<div class="users-container">
  <% if mutes.blank? %>
    <div class="nothing">データがありません</div>
  <% end %>

  <% mutes.each do |mute| %>

    <% target_id = mute.target_id %>

    <% user = User.find(target_id) %>

    <div class="users">
      <div>
        <%= link_to user, class: "link-item" do %>
          <% if user.present? %>
            <%= image_tag user.avatar.url(:thumb), class: "user-img" %>
          <% end %>
        <% end %>
      </div>

      <div class="users-info">
        <div class="users-name"><%= user.name %></div>
        <div class="users-desc"><%= user.description %></div>
      </div>

      <div class="mute-control">
        <a class="link-item" id="btn-hot">

          <%= link_to mute, method: :delete do %>
            <button class="change-hover-button btn btn-outline-primary rounded-pill">
              <i class="fas fa-eye"> ミュート解除</i>
              <i class="fas fa-eye"> ミュート解除</i>
            </button>
          <% end %>

        </a>
      </div>
    </div>

  <% end %>

</div>
