<div class="users-container">
  <% if mutes.blank? %>
    <div class="nothing">データがありません</div>
  <% end %>

  <% mutes.map do |mute| %>

    <% target_id = mute.target_id %>

    <% user = User.find_by(id: target_id) %>

    <% if user.present? %>
      <div class="users">
        <div>
          <%= link_to user, class: "link-item-image" do %>
            <% if user.present? %>
              <%= image_tag user.avatar.url(:thumb), class: "user-img" %>
            <% end %>
          <% end %>
        </div>

        <div class="users-info">
          <div class="users-name"><%= user.name %></div>
          <div class="users-desc"><%= user.description %></div>
        </div>

        <div class="mute-control">
          <%= link_to mute, method: :delete do %>
            <button class="change-hover-button btn btn-outline-primary rounded-pill">
              <i class="fas fa-eye"> ミュート解除</i>
              <i class="fas fa-eye"> ミュート解除</i>
            </button>
          <% end %>
        </div>
      </div>
    <% end %>

  <% end %>

</div>
