<div class="tweet-container list">

  <% if notices.blank? %>
    <div class="nothing">データがありません</div>
  <% end %>

  <% notices.map do |notice| %>
    <div class="tweet">

      <div class="tweet-left">
        <%= link_to notice.sender, class: "link-item-image" do %>
          <% if notice.sender.present? %>
            <%= image_tag notice.sender.avatar.url(:thumb), class: "user-img image_x48" %>
          <% else %>
            <%= image_tag "/images/broken-image.png", class: "user-img image_x48" %>
          <% end %>
        <% end %>
      </div>

      <div class="tweet-right">

        <div class="hukidasi">

          <div class="content">
            <div class="content-content word-break">
              <%= notice.content %>
            </div>
          </div>

          <div class="content-desc">
            <div class="text-right"><%= time_ago_in_words(notice.create_datetime) %></div>
          </div>

          <div class="content-desc">
            <div class="content-desc-left"><%= notice.sender_name %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
