<% if show_list %>
  <div class="tweet-container-list">
<% else %>
  <div class="tweet-container">
<% end %>

  <% if tweets.blank? %>
    <div class="nothing">データがありません</div>
  <% end %>

  <% tweets.each do |tweet| %>
    <div class="tweet">

      <div  class="tweet-left">
        <%= link_to tweet.user, class: "link-item-image" do %>
          <% if tweet.user.present? %>
            <% if tweet.avatar? %>
              <%= image_tag tweet.avatar.url(:thumb), class: "user-img image_x48" %>
            <% else %>
              <%= image_tag tweet.user.avatar.url(:thumb), class: "user-img image_x48" %>
            <% end %>
          <% else %>
            <%= image_tag "/images/broken-image.png", class: "user-img image_x48" %>
          <% end %>
        <% end %>
      </div>

      <div  class="tweet-right">
        <%= link_to tweet, class: "link-item-hukidasi" do %>
          <div class="hukidasi">

            <% if show_parent && tweet.parent_id? && tweet.parent_id != 0 %>
              <div class="content-desc">
                <div class="content-desc-parent">
                  <div class="content-parent-icon"><i class="fas fa-reply"></i></div>
                  <% if Tweet.find_by(id: tweet.parent_id).present? %>
                    <div class="content-parent-text word-break">
                      <%= Tweet.find(tweet.parent_id).content %>
                    </div>
                  <% else %>
                    <div class="content-parent-text">
                      削除されました
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>

            <div class="content">
              <% if tweet.image? %>
                <div class="content-image">
                  <%= image_tag tweet.image.url(:thumb), class: "thumb image_x64", :size =>'64x64' %>
                </div>
              <% end %>
              <div class="content-text word-break">
                <%= tweet.content %>
              </div>
            </div>
            <div class="content-desc">

              <% if tweet.user.present? %>
                <div class="content-desc-left"><%= tweet.user.name %></div>
              <% else %>
                <div class="content-desc-left">削除されたユーザー</div>
              <% end %>

              <div class="space"></div>

              <div class="content-desc-right content-desc-flex-row-right">
                <div class="count-comment"><i class="fas fa-comments"></i> <%= tweet.res_count %></div>
                <div class="space"> | </div>
                <% if 0 <= tweet.good_count - tweet.bad_count %>
                  <div class="count-good"><i class="fas fa-thumbs-up"></i> <%= tweet.good_count - tweet.bad_count %></div>
                <% else %>
                  <div class="count-good"><i class="fas fa-thumbs-down"></i> <%= tweet.good_count - tweet.bad_count %></div>
                <% end %>
                <div class="space"> | </div>
                <div class="count-bookmark"><i class="fas fa-bookmark"></i> <%= tweet.bookmark_count %></div>
              </div>

            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
