<div class="user-container">

  <div class="user">

    <div class="user-info-left">
      <%= image_tag user.avatar.url(:thumb_large), class: "user-img-xlarge image_x64" %>
    </div>

    <div class="user-info-right">

      <% if user_signed_in? && show_control %>
        <div class="user-control">

          <span class="m-1">
            <%= render partial: "/layouts/points_form", locals: { user_id: user.id } %>
          </span>

          <%= link_to new_message_path(user_id: user.id), class:"btn btn-light rounded-pill m-1" do %>
            <i class="fas fa-envelope"></i>
          <% end %>

          <% followed = Follow.find_by(user_id: current_user.id, target_id: user.id) %>

          <% if followed.present? %>

            <%= form_for(followed, method: :delete) do |form| %>
              <%= form.hidden_field :target_id %>
              <%= form.button type: "submit", class: "change-hover-button btn btn-primary rounded-pill m-1" do %>
                <span>フォロー中</span>
                <span>フォロー解除</span>
              <% end %>
            <% end %>

          <% else %>

            <% follow = Follow.new %>
            <% follow.target_id = user.id %>

            <%= form_for(follow) do |form| %>
              <%= form.hidden_field :target_id %>
              <%= form.button type: "submit", class: "btn btn-primary rounded-pill m-1" do %>
                <span>フォロー</span>
              <% end %>
            <% end %>

          <% end %>


          <% muted = Mute.find_by(user_id: current_user.id, target_id: user.id) %>

          <% if muted.present? %>

            <%= form_for(muted, method: :delete) do |form| %>
              <%= form.hidden_field :target_id %>
              <%= form.button type: "submit", class: "btn btn-primary rounded-pill m-1" do %>
                <i class="fas fa-eye"></i>
              <% end %>
            <% end %>

          <% else %>

            <% mute = Mute.new %>
            <% mute.target_id = user.id %>

            <%= form_for(mute) do |form| %>
              <%= form.hidden_field :target_id %>
              <%= form.button type: "submit", class: "btn btn-danger rounded-pill m-1" do %>
                <i class="fas fa-eye-slash"></i>
              <% end %>
            <% end %>

          <% end %>

        </div>
      <% end %>

      <div class="user-name text-big">
        <div>[<%= user.id %>] <%= user.name %></div>
      </div>

      <div class="user-status">
        <div class="user-status-category">
          <div class="user-status-category-icon">[接続]</div>
          <div class="user-status-element">
            <div><%= Follow.where(user_id: user.id).size %> フォロー</div>
            <div><%= Follow.where(target_id: user.id).size %> フォロワー</div>
          </div>
        </div>
        <div class="user-status-category">
          <div class="user-status-category-icon">[発信]</div>
          <div class="user-status-element">
            <div><%= Tweet.where(user_id: user.id).size %> ツイート</div>
            <div><%= Good.where(user_id: user.id).size %> グッド</div>
          </div>
        </div>
        <div class="user-status-category">
          <div class="user-status-category-icon">[受信]</div>
          <div class="user-status-element">
            <div><%= Tweet.where(user_id: user.id).sum(:res_count) %> レス</div>
            <div><%= Tweet.where(user_id: user.id).sum(:good_count) %> グッド</div>
          </div>
        </div>
      </div>

      <div class="user-desc">
        <div class="word-break"><%= user.description %></div>
      </div>

      <% if tags.present? %>
        <%= render partial: "/layouts/tags", locals: { tags: tags } %>
      <% end %>

    </div>

  </div>

</div>
