<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env == 'development' %>
    <% else %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64446031-5"></script>
      <script data-ad-client="ca-pub-5849163684087391" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-64446031-5');
      </script>
    <% end %>

    <% if Rails.env == 'development' %>
      <title>チラウラリア(開発版)</title>
    <% else %>
      <title>チラウラリア</title>
    <% end %>

    <meta name="description" content="ログイン不要で書き込める、あたらしいSNS。">

    <meta name="viewport" content="width=device-width, initial-scale=0.75">

    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="<%= stylesheet_path('application') %>">
    <noscript><link rel="stylesheet" href="<%= stylesheet_path('application') %>"></noscript>
    <script src="/js/cssrelpreload.js"></script>
    <link rel="stylesheet" media='all' href="/css/loading.css">
    <%= javascript_include_tag 'application' %>
    <%= preload_link_tag 'font-awesome/fa-solid-900.woff2' %>

    <% if Rails.env == 'development' %>
    <% else %>
      <!-- iOS_PWA -->
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="default">
      <meta name="apple-mobile-web-app-title" content="チラウラリア">
      <link rel="apple-touch-icon" href="/images/icons/icon-512x512.png">

      <!-- ANDROID_PWA -->
      <link rel="manifest" href="/manifest.json">

      <script>
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/service-worker.js').then((registration) => {
            console.log('Service worker registered.', registration);
            registration.update().then((update) => {
              console.log('Service worker updated.', update);
            });
          });
        }
      </script>
    <% end %>

  </head>

  <body>
    <div id="loading" class="loaded">
      <div class="loader">Loading...</div>
      <div class="loading-text">
        <div class="loading-text-title">
          チラウラリア
        </div>
        <div class="loading-text-text">
          ログイン不要で書き込める、あたらしいSNS。
        </div>
      </div>
    </div>

    <div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1050; pointer-events: none;">
      <div id="toast1" class="toast hide" style="position: absolute; top: 60px; left: 0; right: 0; margin: auto;" role="alert" aria-live="assertive" aria-atomic="true"  data-delay="2000">
        <div class="toast-body">
          <div class="text-center">
            <span class="unread_count"></span>件の新着つぶやきがあります
          </div>
        </div>
      </div>
    </div>

    <div class='container-fluid'>

      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow-add">
        <a class="navbar-brand" href="#">
          <% if Rails.env == 'development' %>
            <%= link_to 'チラウラリア(β)', root_path(), class: 'navbar-brand' %>
          <% else %>
            <%= link_to 'チラウラリア', root_path(), class: 'navbar-brand' %>
          <% end %>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navberContent">
          <span class="navbar-toggler-icon"></span> <span class="res_count badge badge-pill badge-info"></span><span class="message_count badge badge-pill badge-danger"></span><span class="notice_count badge badge-pill badge-primary"></span>
        </button>

        <div class="collapse navbar-collapse" id="navberContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">つぶやき <span class="res_count badge badge-pill badge-info"></span></a>
              <div class="dropdown-menu">
                <%= link_to tweets_path(mode: "res"), class: "dropdown-item" do %>レス <span class="res_count badge badge-pill badge-info"></span><% end %>
                <%= link_to "リーフ", tweets_path(mode: "leaf"), class: "dropdown-item" %>
                <%= link_to "ルート", tweets_path(mode: "root"), class: "dropdown-item" %>
                <%= link_to "Good", tweets_path(mode: "good"), class: "dropdown-item" %>
                <%= link_to tweets_path(mode: "image"), class: "dropdown-item" do %><i class="fas fa-lock"></i> 画像<% end %>
                <%= link_to tweets_path(mode: "image_adult"), class: "dropdown-item" do %><i class="fas fa-lock"></i> 大人の画像<% end %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">ユーザー <span class="message_count badge badge-pill badge-danger"></span><span class="notice_count badge badge-pill badge-primary"></span></a>
              <div class="dropdown-menu">
                <%= link_to mypage_index_path(), class: "dropdown-item" do %>マイページ<% end %>
                <%= link_to notices_path(), class: "dropdown-item" do %>通知 <span class="notice_count badge badge-pill badge-primary"></span><% end %>
                <%= link_to messages_path(), class: "dropdown-item" do %>メッセージ <span class="message_count badge badge-pill badge-danger"></span><% end %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">遊ぶ</a>
              <div class="dropdown-menu">
                <%= link_to gambling_path(), class: "dropdown-item" do %>公営賭博<% end %>
                <%= link_to stock_path(), class: "dropdown-item" do %>株式投資<% end %>
                <%= link_to taxpayers_path(), class: "dropdown-item" do %>高額納税者ランキング<% end %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">開発支援</a>
              <div class="dropdown-menu">
                <%= link_to "https://github.com/wakarikaneru/tiraurarian", target: :_blank, class: "dropdown-item" do %><i class="fab fa-github"></i> GitHub<% end %>
                <%= link_to "https://discord.gg/dscwxQm", target: :_blank, class: "dropdown-item" do %><i class="fab fa-discord"></i> Discord<% end %>
                <%= link_to "https://fantia.jp/wakaru", target: :_blank, class: "dropdown-item" do %>Fantia<% end %>
                <%= link_to "https://tirauraria.booth.pm", target: :_blank, class: "dropdown-item" do %>BOOTH<% end %>
                <%= link_to "https://wikiwiki.jp/tirauraria/", target: :_blank, class: "dropdown-item" do %>WIKI<% end %>
              </div>
            </li>
            <% if user_signed_in? && current_user.id == 1 %>
              <li class="nav-item"><%= link_to "管理", admin_root_path(), class: "nav-link" %></li>
            <% end %>
          </ul>

          <ul class="navbar-nav">
            <%= form_with url: "/search", method: "get", class: "form-inline", local: true do %>
              <div class="input-group m-1">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "検索ワード" %>
                <div class="input-group-append">
                  <%= submit_tag "検索", class: "btn btn-info" %>
                </div>
              </div>
            <% end %>
          </ul>

          <ul class="navbar-nav">
            <%= form_with url: set_locale_path, id: "set_locale", method: :post, class: "form-inline", local: false do %>
              <div class="input-group m-1">
                <%= select_tag :locale, options_for_select([["ja", "ja"], ["en", "en"], ["ko", "ko"], ["zh", "zh-CN"], ["ru", "ru"]], @locale), id:"set_locale_select", class: "form-control" %>
              </div>
            <% end %>
          </ul>

        </div><!-- /.navbar-collapse -->
      </nav>

      <div class='login-user-info-container align-items-stretch'>

        <div class='login-user-info'>
          <% if user_signed_in? %>

            <% if @is_premium %>
              <span class="mx-1"><i class="fas fa-unlock"></i></span>
            <% end %>

            <% if Permission.find_by(user_id: current_user.id).present? %>
              <span class="mx-1"><i class="fas fa-user-cog"></i></span>
            <% end %>

            <%= image_tag current_user.avatar.url(:thumb), class: "login-user-info-img image_x24" %>

            <span> | </span>
            <span><%= @user_points %> va</span>
            <span> | </span>
            <span><%= link_to "設定", edit_user_registration_path %></span>
            <span> | </span>
            <span><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></span>
          <% else %>
            <span><%= link_to "新規登録", new_user_registration_path %></span>
            <span> | </span>
            <span><%= link_to "ログイン", new_user_session_path %></span>
          <% end %>
        </div>

        <div class="news-info d-none d-sm-block">
          <div class="h-100 d-flex align-items-center">

            <div id="news" class="carousel slide w-100" data-ride="carousel" data-interval="10000">
              <div class="carousel-inner">
              </div>
            </div>

          </div>
        </div>

        <div class="active-user-info d-flex align-items-center">
          <%= render_async load_path, interval: 60000, retry_count: 5, retry_delay: 120000, error_message: "Offline" do %>
            <i class="fa fa-spinner fa-pulse"></i>
          <% end %>
        </div>

      </div>

      <% if user_signed_in? && (current_user.id == 1 || @is_premium) %>
      <% else %>
        <div class="overflow-hidden w-100 m-2">
          <div align="center">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- メイン広告 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5849163684087391"
                 data-ad-slot="1720426885"
                 data-ad-format="horizontal"
                 data-full-width-responsive="false"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
        </div>
      <% end %>

      <% if Rails.env == 'development' %>
        <div id="development" class="notice alert alert-info">
          <p>当サーバーは開発版サーバーです。稼働停止や仕様変更、データの消失が頻繁に発生します。</p>
          <p>チラウラリアご利用の方は<a href="http://tirauraria.me/" target="blank">安定稼働サーバー</a>をご利用ください。</p>
        </div>
      <% end %>

      <div id="hikkosi" class="notice alert alert-info">
        <p>9/9(金)管理人引っ越しのためチラウラリアは一時的にサービス停止いたします</p>
        <p>その間の状況などは<a href="https://discord.gg/dscwxQm" target="blank">Discord</a>で報告いたします。</p>
      </div>

      <div id="notice" class="notice alert alert-info"><%= notice %></div>
      <div id="alert" class="notice alert alert-danger"><%= alert %></div>

      <%= yield %>

      <footer class="footer">
        <div class="footer-item"><%= link_to "チラウラリアとは", info_index_path %></div>
        <div class="footer-item"><%= link_to "使い方", info_howtouse_path %></div>
        <div class="footer-item"><%= link_to "利用規約", info_termsofservice_path %></div>
        <div class="footer-item"><%= link_to "プライバシーポリシー", info_privacypolicy_path %></div>
        <div class="footer-item"><%= link_to "VARTH(va)ってなに？", info_whatisvarth_path %></div>
      </footer>


      <div class="d-sm-none">
        <div class="bottom_nav_space"></div>

        <nav class="bottom_nav navbar navbar-expand fixed-bottom navbar-light bg-light shadow-add">
          <ul class="navbar-nav w-100 text-center">
            <li class="nav-item col">
              <%= link_to root_path(), class:"btn btn-secondary rounded-pill" do %>
                <i class="fas fa-home"></i>
              <% end %>
            </li>
            <li class="nav-item col">
              <%= link_to notices_path(), class:"btn btn-secondary rounded-pill" do %>
                <i class="fas fa-bell"></i>
                <div class="notice_count badge badge-pill badge-primary badge_float"></div>
              <% end %>
            </li>
            <li class="nav-item col">
              <%= link_to stock_path(), class:"btn btn-secondary rounded-pill" do %>
                <i class="fas fa-chart-line"></i>
              <% end %>
            </li>
            <li class="nav-item col">
              <%= link_to gambling_path(), class:"btn btn-secondary rounded-pill" do %>
                <i class="fas fa-dice"></i>
              <% end %>
            </li>
            <% if false %>
            <li class="nav-item col">
              <%= link_to messages_path(), class:"btn btn-secondary rounded-pill" do %>
                <i class="fas fa-envelope"></i>
                <div class="message_count badge badge-pill badge-primary badge_float"></div>
              <% end %>
            </li>
            <% end %>
            <% if false %>
            <li class="nav-item col">
              <%= link_to search_index_path(), class:"btn btn-secondary rounded-pill" do %>
                <i class="fas fa-search"></i>
              <% end %>
            </li>
            <% end %>
            <% if false %>
            <li class="nav-item col">
              <% if user_signed_in? %>
                <%= link_to mypage_index_path(), class: "btn btn-secondary rounded-pill" do %>
                  <%= image_tag current_user.avatar.url(:thumb), class: "login-user-info-img image_x32" %>
                  <div class="res_count badge badge-pill badge-danger badge_float"></div>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path(), class:"btn btn-secondary rounded-pill" do %>
                  <i class="fas fa-sign-in-alt"></i>
                <% end %>
              <% end %>
            </li>
            <% end %>
            <li class="nav-item col">
              <% if user_signed_in? %>
                <%= link_to tweets_path(mode: "res"), class: "btn btn-secondary rounded-pill" do %>
                  <i class="fas fa-reply"></i>
                  <div class="res_count badge badge-pill badge-info badge_float"></div>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path(), class:"btn btn-secondary rounded-pill" do %>
                  <i class="fas fa-sign-in-alt"></i>
                <% end %>
              <% end %>
            </li>
          </ul>
        </nav>

      </div>

    </div>

    <%= content_for :render_async %>
  </body>
</html>
