<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env == 'development' %>
    <% else %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64446031-5"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-64446031-5');
      </script>
    <% end %>

    <% if Rails.env == 'development' %>
      <title>チラウラリア(開発版)</title>
    <% else %>
      <title>チラウラリア</title>
    <% end %>

    <meta name="description" content="ログイン不要で書き込める、あたらしいSNS。">

    <meta name="viewport" content="width=device-width, initial-scale=0.75">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ='container-fluid'>

    <% if user_signed_in? %>
      <% notice_records = Notice.where(user_id: current_user.id, read_flag: false).where("create_datetime > ?", Constants::NOTICE_RETENTION_PERIOD.ago) %>
      <% message_records = Message.where(user_id: current_user.id, read_flag: false).where("create_datetime > ?", Constants::MESSAGE_RETENTION_PERIOD.ago) %>

      <% notice_count_i = [notice_records.count, 99].min %>
      <% message_count_i = [message_records.count, 99].min %>
      <% total_count_i = [notice_records.count + message_records.count, 99].min %>

      <% if 0 < notice_count_i %>
        <% notice_count = notice_count_i.to_s %>
      <% else %>
        <% notice_count = "" %>
      <% end %>

      <% if 0 < message_count_i %>
        <% message_count = message_count_i.to_s %>
      <% else %>
        <% message_count = "" %>
      <% end %>

      <% if 0 < total_count_i %>
        <% total_count = total_count_i.to_s %>
      <% else %>
        <% total_count = "" %>
      <% end %>
    <% end %>
    
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow-add">
      <a class="navbar-brand" href="#">
        <% if Rails.env == 'development' %>
          <%= link_to 'チラウラリア(β)', root_path(), class: 'navbar-brand' %>
        <% else %>
          <%= link_to 'チラウラリア', root_path(), class: 'navbar-brand' %>
        <% end %>
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navberContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navberContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">新着</a>
            <div class="dropdown-menu">
              <%= link_to "Root", tweets_path(mode: "root"), class: "dropdown-item" %>
              <%= link_to "Good", tweets_path(mode: "good"), class: "dropdown-item" %>
            </div>
          </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">ユーザー <span class="badge badge-pill badge-primary"><%= total_count %></span></a>
              <div class="dropdown-menu">
                <%= link_to "マイページ", mypage_index_path(), class: "dropdown-item" %>
                <%= link_to notices_path(), class: "dropdown-item" do %>通知 <span class="badge badge-pill badge-primary"><%= notice_count %></span><% end %>
                <%= link_to messages_path(), class: "dropdown-item" do %>メッセージ <span class="badge badge-pill badge-primary"><%= message_count %></span><% end %>
              </div>
            </li>
          <% if user_signed_in? && current_user.id == 1 %>
            <li class="nav-item"><%= link_to "管理", admin_root_path(), class: "nav-link" %></li>
          <% end %>
        </ul>
        <%= form_tag("/search", method: "get", class: "form-inline", role: "form") do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "検索ワード" %>
            <div class="input-group-append">
              <%= submit_tag "検索", class: "btn btn-info" %>
            </div>
          </div>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class='login-user-info-container'>
      <div class='login-user-info'>
        <% if user_signed_in? %>
          <%= image_tag current_user.avatar.url(:thumb), class: "login-user-info-img image_x24" %>
          <span> | </span>
          <% if current_user.point.present? %>
            <span><%= current_user.point.point %> va</span>
          <% else %>
            <span>0 va</span>
          <% end %>
          <span> | </span>
          <span><%= link_to "設定", edit_user_registration_path %></span>
          <span> | </span>
          <span><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></span>
        <% else %>
          <span><%= link_to "新規登録", new_user_registration_path %></span>
          <span> | </span>
          <span><%= link_to "ログイン", new_user_session_path %></span>
        <% end %>
      </div>
    </div>

    <% if Rails.env == 'development' %>
      <div id="development" class="notice alert alert-info">
        <p>当サーバーは開発版サーバーです。稼働停止や仕様変更、データの消失が頻繁に発生します。</p>
        <p>チラウラリアご利用の方は<a href="http://tirauraria.me/" target="blank">安定稼働サーバー</a>をご利用ください。</p>
      </div>
    <% end %>

    <div id="notice" class="notice alert alert-info"><%= notice %></div>
    <div id="alert" class="notice alert alert-danger"><%= alert %></div>

    <%= yield %>

    <footer class="footer">
      <div class="footer-item"><%= link_to "チラウラリアとは", info_index_path %></div>
      <div class="footer-item"><%= link_to "使い方", info_howtouse_path %></div>
      <div class="footer-item"><%= link_to "利用規約", info_termsofservice_path %></div>
      <div class="footer-item"><%= link_to "プライバシーポリシー", info_privacypolicy_path %></div>
      <div class="footer-item"><%= link_to "VARTH(va)ってなに？", info_whatisvarth_path %></div>
    </footer>

  </body>
</html>
