<!DOCTYPE html>
<html>
  <head>
    <title>チラウラリア(α)</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ='container-fluid'>
    <!-- Fixed navbar -->
    <nav class='navbar navbar-inverse navbar-fixed-top shadow'>
      <div class='container'>
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <%= link_to 'チラウラリア(α)', root_path, class: 'navbar-brand' %>
        </div>
        <div id='navbar' class='collapse navbar-collapse'>
          <ul class='nav navbar-nav'>
            <li><%= link_to "MyPage", tweets_path(mode: "mypage") %></li>
            <li><%= link_to "Bookmark", tweets_path(mode: "bookmark") %></li>
            <li><%= link_to "Follow", tweets_path(mode: "follow") %></li>
            <li><%= link_to "Hash", tweets_path(mode: "hash") %></li>
            <li><%= link_to "Good", tweets_path(mode: "good") %></li>
            <li><%= link_to "Root", tweets_path(mode: "root") %></li>
            <% if user_signed_in? && 1 <= Admin.where(user_id: current_user.id).size %>
              <li><%= link_to "Admin", admin_index_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class='login-user-info-container'>
      <div class='login-user-info'>
        <% if user_signed_in? %>
          <%= image_tag current_user.avatar.url(:thumb), class: "login-user-info-img" %>
          <span><%= link_to "Settings", edit_user_registration_path %></span>
          <span> | </span>
          <span><%= link_to "Logout", destroy_user_session_path, method: :delete %></span>
        <% else %>
          <span><%= link_to "Sign up", new_user_registration_path %></span>
          <span> | </span>
          <span><%= link_to "Login", new_user_session_path %></span>
        <% end %>
      </div>
    </div>

    <div id="notice" class="notice alert alert-info"><%= notice %></div>
    <div id="alert" class="notice alert alert-danger"><%= alert %></div>

    <%= yield %>

    <% if true  %>
      <script src='/js/snowfall.min.js'></script>
      <script type='text/javascript'>
        snowFall.snow(document.body, {image : "/images/flake.png", minSize: 10, maxSize:32});
      </script>
    <% end %>

  </body>
</html>
