<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64446031-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-64446031-5');
    </script>

    <title>チラウラリア(β)</title>

    <meta name="description" content="ログイン不要で書き込める、あたらしいSNS。">

    <meta name="viewport" content="width=device-width, initial-scale=0.75">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ='container-fluid'>
    <!-- Fixed navbar -->
    <nav class='navbar navbar-inverse navbar-fixed-top shadow'>
      <div class='container'>
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>

          <% if Rails.env == 'development' %>
            <%= link_to 'チラウラリア(開発版)', root_path, class: 'navbar-brand' %>
          <% else %>
            <%= link_to 'チラウラリア', root_path, class: 'navbar-brand' %>
          <% end %>

        </div>
        <div id='navbar' class='collapse navbar-collapse'>
          <ul class='nav navbar-nav'>
            <li><%= link_to "マイページ", tweets_path(mode: "mypage") %></li>
            <li><%= link_to "ブックマーク", tweets_path(mode: "bookmark") %></li>
            <li><%= link_to "愛してる", follows_path(mode: "follow") %></li>
            <li><%= link_to "愛されてる", follows_path(mode: "follower") %></li>
            <li><%= link_to "Good", tweets_path(mode: "good") %></li>
            <li><%= link_to "Root", tweets_path(mode: "root") %></li>
            <% if user_signed_in? && Admin.find_by(user_id: current_user.id).present? %>
              <li><%= link_to "管理", admin_index_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class='login-user-info-container'>
      <div class='login-user-info'>
        <% if user_signed_in? %>
          <%= image_tag current_user.avatar.url(:thumb), class: "login-user-info-img" %>
          <span><%= link_to "設定", edit_user_registration_path %></span>
          <span> | </span>
          <span><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></span>
        <% else %>
          <span><%= link_to "新規登録", new_user_registration_path %></span>
          <span> | </span>
          <span><%= link_to "ログイン", new_user_session_path %></span>
        <% end %>
      </div>
    </div>

    <% if Rails.env == 'development' %>
      <div id="development" class="notice alert alert-info">
        <p>当サーバーは開発版サーバーです。稼働停止や仕様変更、データの消失が頻繁に発生します。</p>
        <p>チラウラリアご利用の方は<a href="http://wakaru.orz.hm/" target="blank">安定稼働サーバ</a>をご利用ください。</p>
      </div>
    <% end %>

    <div id="notice" class="notice alert alert-info"><%= notice %></div>
    <div id="alert" class="notice alert alert-danger"><%= alert %></div>

    <%= yield %>

  </body>
</html>
